/**
 * 2008 - 2015 HDClic
 *
 * MODULE PrestaBlog
 *
 * @version   3.6.8
 * @author    HDClic <prestashop@hdclic.com>
 * @link      http://www.hdclic.com
 * @copyright Copyright (c) permanent, HDClic
 * @license   Addons PrestaShop license limitation
 *
 * NOTICE OF LICENSE
 *
 * Don't use this module on several shops. The license provided by PrestaShop Addons
 * for all its modules is valid only once for a single shop.
 */

 /** filtrage page recherche */
#categoriesFiltrage {
	display: block;
}
#categoriesFiltrage form {
	margin-top: 5px;
}
#categoriesFiltrage input.search_query {
	width: 150px;
	float: left;
}
#categoriesFiltrage select {
	height: 28px;
}
#categoriesFiltrage div#categoriesForFilter { }
#categoriesFiltrage div.filtrecat {
	float:left;
	color: #fff;
	padding: 5px;
	margin-right: 5px;
	background: #333 none repeat scroll 0 0;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
#categoriesFiltrage div.deleteCat {
	float:right;
	cursor: pointer;
	margin-left: 5px;
}
#categoriesFiltrage div.deleteCat:hover {
	color: #6f6f6f;
}
/** /filtrage page recherche */

/** Force margin for template without margin on there paragraphe css **/
#prestablogfont p, #prestablogfont ul, #prestablogfont ol { margin: 0 0 15px; }

/** Bloc Search **/
#prestablog_bloc_search input.button_search {
	background: url("../img/bg_search.png") repeat-x scroll 0 0;
	border: 1px solid #383838;
	margin-left:2px;
	margin-top:5px;
	height: 25px;
	width: 27px;
}
#prestablog_bloc_search input.button_search:hover {
	background-position: left -50px;
	text-decoration: none;
}

#prestablog_bloc_search #prestablog_search {
	float: left;
	border: 1px solid #666;
	color: #666;
	height: 23px;
	padding: 0 2px;
	margin-top:5px;
	margin-bottom:5px;
	width: 165px;
}
/** /Bloc Search **/

/** Related article on product */
ul.related_blog_product li {
    display: block;
    height: auto;
    margin-bottom: 20px;
    min-height: 40px;
    width: 100%;
}

/** Slide */
.prestablog_slide {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin:0;
	padding:0;
	position: relative;
	float: left;
	margin-bottom: 7px;
	background: #FFF;
	padding: 5px;
	box-shadow: #ccc 0px 0px 5px;
	border-radius: 5px;
}

/** If an image is wrapped in a link  */
.prestablog_slide .nivoSlider a.nivo-imageLink {
	position:absolute;top:0px;left:0px;width:100%;
	border:0;padding:0;margin:0;z-index:6;display:none; overflow:hidden; height: 100%;}

.prestablog_slide .nivoSlider img, .productslinks .nivoSlider img {display:none;position:absolute;top:0px;left:0px;max-width: none;}
.prestablog_slide .nivo-main-image, .productslinks .nivo-main-image {display: block !important;position: relative !important; width: 100% !important;}
.prestablog_slide .nivo-slice, .productslinks .nivo-slice {display:block;position:absolute;z-index:5;height:100%;top:0;}
.prestablog_slide .nivo-box, .productslinks .nivo-box {display:block;position:absolute;z-index:5;overflow:hidden;}
.prestablog_slide .nivo-box img, .productslinks .nivo-box img { display:block; }
.prestablog_slide .nivoSlider, .productslinks .nivoSlider {position:relative;}

.prestablog_slide .nivo-controlNav {
	text-align: center;
	position: absolute;
	top: 5px;
	right: 0px;
	width: 100%;
	height: 10px;
	z-index:8;
}
.prestablog_slide .nivo-controlNav a {
	background: none repeat scroll 0 0 #2A2A2A;
	border-radius: 5px 5px 5px 5px;
	float: none;
	display: inline-block;
	height: 0;
	overflow: hidden;
	padding: 6px 0 0;
	width: 6px;
	box-shadow: #ccc 2px 2px 3px;
	cursor: pointer;
	text-indent: -9999;
	margin-top: 4px;
	margin-right: 4px;
}
.prestablog_slide .nivo-controlNav a.active, .prestablog_slide .nivo-controlNav a:hover {
	background: #fff;
	border: 2px solid #333;
	margin-bottom: -2px;
}
.prestablog_slide .nivo-directionNav .nivo-prevNav {
	background: url(../img/controls.png) no-repeat left bottom;
	float: left;
	left: 5px;
    top: 40%;
}
.prestablog_slide .nivo-directionNav .nivo-nextNav {
	background: url(../img/controls.png) no-repeat right bottom;
	float: right;
	right: 5px;
    top: 40%;
}
.prestablog_slide .nivo-directionNav .nivo-prevNav:hover {
	background: url(../img/controls.png) no-repeat left top;
}
.prestablog_slide .nivo-directionNav .nivo-nextNav:hover {
	background: url(../img/controls.png) no-repeat right top;
}
.prestablog_slide .nivo-directionNav a {
	position: absolute;
    cursor: pointer;
    z-index: 99;
	height: 32px;
	width: 35px;
	text-indent: -9999px;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
	opacity: 0;
}
.prestablog_slide:hover .nivo-directionNav a { opacity: 1; }

.prestablog_slide .nivo-caption  {
	position: absolute;
	bottom: 10px;
	background: url(../img/bg-texte-slide.png) repeat;
	border: 1px solid #626262;
	padding: 8px 8px 8px 5px;
	height: auto;
	width: auto;
	color: #FFF;
	box-shadow: #333 2px 2px 5px;
	z-index: 8;
	border-radius: 0 5px 5px 0;
}
/** Product linked slide */
#blog_product_linked {
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;
}
.productslinks {
	float: left;
	background: #F4F4F4;
	padding: 5px;
	box-shadow: #ccc 0px 0px 2px;
	border-radius: 5px;
	width: auto;
	text-align: center;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	border: 1px solid #E5E5E5;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;

}
.productslinks:hover {
	box-shadow: #ccc 0px 0px 1px;
	border: 1px solid #FFF;
	background: #FFF;
}

/** Article link */
ul.articleslinks {
	padding-left: 40px;
	margin-bottom: 10px;
	list-style: square;
}

/** FIN SLIDE */
a.bloc-rss img {
	margin-bottom:5px;
}

a.bloc-rss:hover img {
	opacity: 0.7;
	filter:alpha(opacity=70);
}
/** Listing */
#blog_list * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;
	padding:0;
}
#blog_list {
	display: block;
	float: left;
	width: 100%;
	clear: both;
}
#blog_list li {
	margin: 0px 0px 7px;
	padding: 10px;
	display: inline-block;
	width: 100%;
	list-style: none;
	background: #F8F8F8;
	border-radius: 5px;
	box-shadow: #CCC 2px 2px 2px;
	-webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;

}
#blog_list li:hover {
	background: #EEEEEE;
	box-shadow: #e8e8e8 1px 1px 1px;
}
#blog_list h3 {
	padding-bottom: 0px;
	border-bottom: 1px dashed #999;
}
#blog_list .block_gauche {
	float: left;
    width: 25%;
}
#blog_list .block_gauche img {max-width: 100%;}
#blog_list .block_droite {
    float: right;
    padding: 0 7px;
    width: 75%;
}
#blog_list .blog_link {
	border-radius: 3px;
	background-color: #CCC;
	padding: 7px;
}
#blog_list a.blog_link:hover {
	text-decoration: none;
	background: #E6E6E6;
}
#blog_list p {
	margin: 12px 0px;
}

/** Typo*/

#prestablogfont ul, #prestablogfont ol {
	padding-left: 40px;
	margin-bottom: 15px;
}

#prestablogfont ul li {
	list-style: square;
}

#prestablogfont ol {
	list-style: decimal;
}

.info_blog {
	font-size: 11px;
	color: #8B8B8B;
	}
.info_blog a, .date_blog-cat, ul#blog_list li .date_blog-cat a {
	color: #ED6F1B;
}
.date_blog-cat {
	font-size: 10px;
	font-weight: normal;
}

.categorie_blog {
	color: #A020F0;
}

.categorie_blog:hover {
	text-decoration:underline;
}

/** Navigation slide */
#prestablog_nav_slide {
	width: 100%;
	float: left;
	display: block;
	clear: both;
	text-align: center;
	padding-bottom: 5px;
}
#prestablog_nav_slide a {
	background: url(../img/nav-slide.png) no-repeat right top;
	display: inline-block;
	height: 16px;
	width: 16px;
	outline: medium none;
	text-indent: -9999em;
	margin-right: 1px;
	margin-left: 1px;
}
#prestablog_nav_slide a.activeSlide {
	background: url(../img/nav-slide.png) left top;
}
#prestablog_nav_slide a:hover {
	background: url(../img/nav-slide.png) left top;
}
.prestablog_slide ul.admin { padding:0px; }

/** date */
#prestablog_dateliste ul {
	font-weight:bold;
}

#prestablog_dateliste ul ul {
	color:#7F7F7F;
	font-size:90%;
	font-weight:normal;
	margin-left:15px;
}
#prestablog_dateliste ul ul li {
	list-style-type: square;
	margin-top: 2px;
	margin-bottom: 2px;
}
/** bloc last liste */
img.lastlisteimg {
	float: left;
	margin-right: 7px;
	margin-bottom: 7px;
	margin-top: 5px;
}

/** Pagination category */
.cat_prestablog p {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 0px;
}
div.prestablog_pagination {
	text-align:left;
	margin-top:15px;
	margin-bottom:15px;
}
div.prestablog_pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	text-decoration: none;
	color: #aaa;
}
div.prestablog_pagination a:hover, div.prestablog_pagination a:active {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #a0a0a0;
}
div.prestablog_pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #929EA2;
	background-color: #BDC5C8;
	color: #4D4D4D;
}
div.prestablog_pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}
div.prestablog_pagination span.more {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	color: #aaa;
}

div.block_droite p.categories {
	font-size: 85%;
}

div.block_droite p.categories a {
	font-size: 115%;
}

/** Commentaires Facebook */
#prestablog-fb-comments .fb-comments,
#prestablog-fb-comments .fb-comments iframe[style],
#prestablog-fb-comments .fb-like-box,
#prestablog-fb-comments .fb-like-box iframe[style]
{width: 100% !important;}
#prestablog-fb-comments .fb-comments span,
#prestablog-fb-comments .fb-comments iframe span[style],
#prestablog-fb-comments .fb-like-box span,
#prestablog-fb-comments .fb-like-box iframe span[style]
{width: 100% !important;}

/** Commentaire */
fieldset#prestablog-comment {
	padding: 10px;
}
fieldset#prestablog-comment input {
	width: 100%;
}
fieldset#prestablog-comment input#submitComment {
	width: auto;
}
fieldset#prestablog-comment input.text {
	border: 1px solid #CCC;
	height: 20px;
}
fieldset#prestablog-comment textarea {
	width: 100%;
	height: 200px
}

fieldset#prestablog-comment p#errors {
	text-align:center;
	font-weight:bold;
}

fieldset#prestablog-comment input.errors, fieldset#prestablog-comment textarea.errors {
	border:solid 1px #0B9A0B;
}

div#comments {
	display: none;
}

span#toggle-comments {
	cursor:pointer;
}

div.comment h4 a {
	text-decoration:none;
}

div.comment h4 a:hover {
	text-decoration:underline;
}

div.comment {
	margin: 10px 0 10px 0;
	padding:5px;
}

div.comment hr {
	color:#E5E5E5;
	background-color: #D9D7D7;

}

div.comment p.date-comment {
	color:#7F7F7F;
	font-size:90%;
    margin-top: -4px;
	margin-bottom : 10px;
	padding: 0px;
}

div#abo {
	font-size:90%;
	float:right;
}

div#abo a {
	color: #DD2A81;
	text-decoration:none;
}

div#abo a:hover {
	text-decoration:underline;
}


#block_footer_last_list {
    float: left;
    width: 175px;
    padding: 15px 10px;
}

/** fix p sur bloc héritage prestashop */
.prestablog_cat_img {
    margin-bottom: 15px;
}

#prestablog_lastliste p, #prestablog_catliste p, #prestablog_dateliste li  {
	margin: 0px;
	padding: 10px 0px;
	border-bottom: 1px dotted #CCCCCC;
	float: left;
	width: 100%;
	display: inline-block;
	background: #FFF;
}
#prestablog_dateliste li {
	border-bottom: none;
}
#prestablog_dateliste li li {
	border-bottom: 1px dotted #CCCCCC;
}
#prestablog_lastliste a.button_large, #prestablog_catliste a.button_large, #prestablog_dateliste a.button_large {
	margin-top:10px;
}

.prestablog_thumb_cat {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

/** Menu category */
#prestablog_menu_cat {
    width: 100%;
	float: left;
}

#prestablog_menu_cat nav a.mparent {
	background: url(../img/flechebas.png) no-repeat right center;
}

#prestablog_menu_cat nav ul ul a.mparent {
	background: url(../img/flechedroite.png) no-repeat right center;
}

#prestablog_menu_cat nav #nav-version {
	float:right;
}
#prestablog_menu_cat nav #nav-version:hover {
	background:none;
}
#prestablog_menu_cat nav {
	margin-bottom:10px;
}
#prestablog_menu_cat nav ul ul {
	display: none;
}
#prestablog_menu_cat nav ul li:hover > ul {
		display: block;
}
#prestablog_menu_cat nav ul, img.logo_home {
	list-style: none;
	position: relative;
	background: #383838;
}
#prestablog_menu_cat nav ul:after {
		content: ""; clear: both; display: block;
}
#prestablog_menu_cat nav ul li {
	float: left;
}
#prestablog_menu_cat nav span.parent {
	float: right;
}
#prestablog_menu_cat nav ul li:hover {
	background: #6A6A6A;
}
#prestablog_menu_cat nav ul li:hover a {color: #fff;}

#prestablog_menu_cat nav ul li a {
	display: block;
	padding: 6px 20px 7px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}

#prestablog_menu_cat nav ul li > img {
	padding: 0px 0px;
}

#prestablog_menu_cat nav ul ul {
	background: #6A6A6A;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	width: auto;
	z-index: 10;
}
#prestablog_menu_cat nav ul ul li {
	float: none;
	border-top: 1px solid #737373;
	border-bottom: 1px solid #737373;
	position: relative;
	width: 150px;
	}
#prestablog_menu_cat nav ul ul li a {
			padding: 10px 10px;
			color: #fff;
		}
#prestablog_menu_cat nav ul ul li a img {padding-right:5px;}
#prestablog_menu_cat nav ul ul ul {
	position: absolute; left: 100%; top:0;
}
img.news {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	max-width: 100%;
	}
#prestablogfont img {max-width: 100%;}
#prestablogfont img.f_left {
	margin-right: 10px;
	margin-bottom: 10px;
}
#prestablogfont img.f_right {
	margin-left: 10px;
	margin-bottom: 10px;
}
#prestablogfont iframe {border: none; max-width:100%;}
@media (max-width: 700px) {
#prestablog_menu_cat nav {display: none;}
#prestablog_menu_cat nav ul {padding: 0;}
#menu-mobile {
	cursor: pointer;
	background: #383838 url(../img/menu-toggle-mobile.png) no-repeat 10px center;
	display: block;
	height: 26px;
	width: 100%;
	margin-bottom: 10px;
}
#prestablog_menu_cat nav ul ul {
	left: 40px;
	width: auto;
}
#prestablog_menu_cat nav ul ul ul {
    position: absolute;
    top: 0px;
	width: auto;
}
#prestablog_menu_cat nav ul li {float: none;}
}
@media (max-width: 400px) {
img.news {
	float: none;
	display: block;
	clear: both;
	}
#blog_list .block_gauche {
	text-align: center;
	width: 100%;
}
#blog_list .block_droite {
    float: right;
    padding: 0 7px;
    width: 100%;
}
}