<div class="header_user_info">
	{if $is_logged}
	<a href="{$link->getPageLink('my-account', true)|escape:'html':'UTF-8'}" title="{l s='View my customer account' mod='blockuserinfo'}" class="account" rel="nofollow">
		{l s='Welcome' mod='blockuserinfo'} {$cookie->customer_firstname} {$cookie->customer_lastname}
	</a> - 
	<a class="logout" href="{$link->getPageLink('index', true, NULL, "mylogout")|escape:'html':'UTF-8'}" rel="nofollow" title="{l s='Log me out' mod='blockuserinfo'}">
		{l s='Sign out' mod='blockuserinfo'}
	</a>
	{else}
	<a class="login" href="{$link->getPageLink('my-account', true)|escape:'html':'UTF-8'}" rel="nofollow" title="{l s='Log in to your customer account' mod='blockuserinfo'}">
		{l s='Sign in' mod='blockuserinfo'}
	</a>
	{/if}
</div>