
/* ------------------------------------------ */
/* GENERAL */
/* ------------------------------------------ */

body{ 
    font-family: "Open Sans", sans-serif; 
    font-size: 16px; line-height: 28px;
    color:#606060;
}
body#index #columns.container{ 
	width: 100%; max-width:100%;  
	padding: 0px; margin: 0px;
}
body#index #columns.container .row{ margin:0px; }
.block { margin-bottom: 50px; }
.page-heading {
    font-family: 'Poppins';
    font-size:27px; font-weight: 700; font-style:normal;
    color:#5c2c22; text-transform: capitalize;
    padding:15px 0px 15px 0px;
    margin:0px 0px 25px 0px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.page-subheading {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #5c2c22;
    font-size: 17px;
    padding:0 0 12px;
    line-height: normal;
    margin-bottom:25px;
    border-bottom:1px solid #e5e5e5;
}
.box {
    background:transparent;
    border:none;
    padding:20px 0px;
    margin: 0 0 30px 0;
    line-height: 28px;
}
label { 
    margin-bottom: 7px; 
    margin-top: 13px; 
}

.form-control {
    padding:7px 15px;
    height:35px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-group.form-error input, 
.form-group.form-error textarea {
    background: url(../img/icon/form-error.png) 96% center no-repeat #fff1f2;
}
.form-group.form-ok input, .form-group.form-ok textarea {
    background: url(../img/icon/form-ok.png) 96% center no-repeat #ddf9e1; 
}
.radio, .checkbox {
    margin-top: 18px;
    margin-bottom: 18px;
}
.alert-warning {
    background-color:#ab5a0b;
    border-color:#ab5a0b;
    color:#fff;
}
.alert-warning a{ color:#fff; }
.button.exclusive-medium span {
    border: none;
    display: block;
    padding: 10px 25px;
    background: #733f33;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.button-container span.exclusive-medium i{
    color: #fff;
}
.label-success {
    background-color: #55c65e;
    border: 1px solid #55c65e;
}
.price {
    font-size: 14px;
    color: #5c2c22;
    white-space: nowrap;
    font-weight: bold;
}
.block .title_block, .block h4 {
    font: 600 18px/22px "Open Sans", sans-serif;
    color:#fff;
    background:#5d2d22;
    border-top:none;
    text-transform: uppercase;
    padding:10px 23px 10px 23px;
    margin-bottom:4px;
}

/* ------------------------------------------ */
/* BUTTONS */
/* ------------------------------------------ */

.button.button-medium {
    font-size: 13px; line-height: 20px;
    font-weight: 600; text-transform: uppercase;
    color: #fff;
    background:#733f33;
    background-repeat:no-repeat;
    border:none;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.button.button-medium span i.left {
    display: none;
}
.button.button-medium span {
    padding: 10px 25px;
}
.button.button-medium.exclusive:hover {
    background: #333;
}
.button.button-medium:hover {
    background: #3a1e17;
}
.button.button-small span {
    display: block;
    padding: 6px 10px 8px 11px;
}

/* ------------------------------------------ */
/* HEADER */
/* ------------------------------------------ */

#header { padding-bottom: 0px; }
header .nav {
	border-top:5px solid #5d2c22;
	background:#fff url(../img/bgHeaderTop.png) left bottom repeat-x;
	height: 59px;
}
header .nav,
header .nav a{
	color:#5e2d22;
}
#header .nav .container{
    position:relative;
    height: 100%;
}
#header .nav .container .row{
    height: 100%;
}
#greenNumber{
	position: absolute;
	left:157px; top:23px;
	font-size: 18px; font-weight: bold;
}
#greenNumber .text{
	text-transform: uppercase;
	color:#28993d;
}
#greenNumber .number{
	color:#000;
}
#greenNumberMobile{
	display: none;
	position:fixed;
	right:0px; top:14px;
	width:36px; height:32px;
	margin: 0px; padding: 0px;
	text-align: center; line-height: 32px;
	background: #20ac20;
	border-radius:6px 0px 0px 6px;
	z-index: 999;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
#greenNumberMobile:before{
    content: "\f095";
    font-size: 15px;
    font-family: "FontAwesome";
    color:#fff;
}
#greenNumberMobile:hover{
	background: #38c838;
}

.header_user_info {
	position: absolute;
	top:21px;
	right:420px;
    float:none;
    border:none;
}
.header_user_info a {
    display:inline;
    font-size: 12px; font-weight:700; color: #5e2d22;
    text-transform: uppercase;
    padding:0px; margin: 0px;
    cursor: pointer;
    line-height:12px;
}
.header_user_info a.login{
	display:none;
	background: #b59750;
	color:#fff;
	padding:4px 10px;
}
.header_user_info a:hover, 
.header_user_info a.active {
    background:transparent;
}
.header_user_info a.login:hover{
    background:#333;
} 

#languages-block-top {
	position: absolute;
	top:28px;
	right:375px;
    float:none; 
    border:none;
}
#languages-block-top div.current {
    padding:0px;
    font-size: 12px; font-weight:700; color: #5e2d22;
    text-transform: uppercase;
    text-shadow: 0px 0px rgba(0, 0, 0, 0);
    cursor: pointer;
}
#languages-block-top div.current:after {
    content: "\f107";
    font-family: "FontAwesome";
    font-size:10px;
    line-height:10px;
    color: #5e2d22;
    vertical-align:1px;
    padding-left:6px;
}
#languages-block-top ul {
    top:21px;
    left:-27px;
    width: auto;
    background: #5e2d22;
}
#languages-block-top ul li {
    color: #fff;
    line-height:30px;
    font-size:11px;
}
#languages-block-top ul li a, 
#languages-block-top ul li > span {
    padding:0 15px 0 15px;
}
#languages-block-top ul li.selected, 
#languages-block-top ul li:hover a{
    background: #743326;
}

.liveChat{
	position: absolute;
	right: 0px; bottom:7px;	
	margin: 0px; padding: 0px;
	width: 358px; height: 33px;
	background:url(../img/bgLiveCha_off.png) right top no-repeat;
}

/* ------------------------------------------ */
/* HEADER BOTTOM */
/* ------------------------------------------ */

#headerBottom{
	background: url(../img/bgHeaderBottom.png) center top no-repeat;
	height: 80px;
}
header .row #header_logo{
	display: block;
	position: absolute;
	left:-98px; top:-34px;
	float:none;
	width: 232px; height: auto;
	margin: 0px; padding: 0px;
}
header .row #header_logo img{
	width: 100%; height: auto;
	margin: 0px; padding: 0px;
}

.shopping_cart_wrapper{
	position: absolute;
	right:20px; top:28px;
	margin: 0px; padding: 0px;
}
.shopping_cart_wrapper.logged{ top:11px; }

#header .shopping_cart {
	width: auto;
    float:none;
    padding:0px 45px 0px 0px; height:29px; line-height:29px;
    background: url(../img/bgCart.png) right center no-repeat;
    font-size:16px;
}
.shopping_cart > a:first-child {
    padding:0px;
    background:transparent;
    display: block;
    font-weight: bold;
    color: #70392e;
    text-shadow: 0px 0px rgba(0, 0, 0, 0);
    overflow: hidden;
}
.shopping_cart > a:first-child b {
    padding:0px 6px 0px 0px;
}
#header .cart_block {
    top: 52px;
    background: #efefef;
    color: #70392e;
    width: 306px;
}
#header .cart_block .cart-prices {
    border: none;
    background: #562920;
    color: #fff;
}
#header .cart_block .cart-buttons {
    background: #351711;
}
#header .cart_block .cart_block_list .remove_link a, 
#header .cart_block .cart_block_list .ajax_cart_block_remove_link {
    color: #70392e;
}
#header .cart_block a { color: #70392e; }
#header .cart_block dt {
    background: transparent;
    border-bottom: 2px solid #dddada;
}
#header .cart_block dl {
    margin-bottom: 0px;
}
.cart_block .cart-images {
    border:1px solid #ccc;
}
.cart_block .cart-prices .cart-prices-line {
    overflow: hidden;
    border-bottom: none;
    padding: 2px 0;
}
#header .cart_block .product-atributes a,
#header .cart_block .price{
    color: #70392e;
}
#header .cart_block .cart-prices .price{
    color: #fff;
}
.cart_block .cart-buttons a#button_order_cart span {
    border:none;
    background:transparent;
    color:#fff;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.cart_block .cart-buttons a#button_order_cart:hover span {
    border:none;
    background:#333;
    color: #fff;
}
.cart_block .cart-prices {
    border-top:none;
    padding: 10px 20px 10px 20px;
}
.cart_block .cart-info .quantity-formated .quantity {
    font-size: 13px;
    color: #333;
}
#header .cart_block .product-atributes a:hover {
    color: #333;
}

#searchToggle{
	position: absolute;
	right:244px; top:31px;
	margin: 0px; padding: 0px;
	cursor: pointer;
}
#searchToggle:after{
    font-family: "FontAwesome";
    content: "\f002";
    font-size: 18px; line-height: 18px;
    color:#805951;
}
#search_block_top {
	display: none;
	position: absolute;
	right:274px; top:-26px;
	z-index: 1000;
}
#search_block_top .btn.button-search {
    display: none;
}
#search_block_top #search_query_top {
    display: inline-block; 
    padding: 10px 15px;
    height: 40px;
    background: #fbfbfb;
    margin-right: 0px;
    border-radius: 8px;
    width: 300px;
}
.ac_results {
    text-align: left;
    padding:10px 15px;
    border:1px solid #d6d4d4;
    background-color: white;
    width: 300px !important;
    z-index: 99999;
    border-radius: 8px;
}

#aromaClub,
#aromaClubTop{
	position:absolute;
	right: 288px; top:29px;
	margin: 0px; padding: 0px;
}
#aromaClub p,
#aromaClubTop p{
	display: inline-block;
	height: 24px;
	font-size:20px; line-height: 24px;
	color: #5e2d22; text-transform: uppercase;
	margin: 0px; padding: 0px 20px 0px 0px;
	vertical-align: middle;
}
#aromaClubTop{
    right: 406px; top:20px;
}
#aromaClub a.enter{
	display: inline-block;
	height: 25px; line-height: 24px;
	margin: 0px; padding: 0px 10px;	
	background: #b59750;
	font-size:15px; font-weight: bold; color:#fff;
	text-transform: uppercase;
}
#aromaClub a.enter:hover{
	background: #333;
}

/* ------------------------------------------ */
/* SLIDER */
/* ------------------------------------------ */

#slider_row.row{ margin: 0px auto 65px auto !important; }
#slider_row{ display: none; }
body#index #slider_row{
    display: block;
	max-width: 1850px;
	background: #fff;
	padding: 0px 54px 57px 54px;
	margin: 0px;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 23px 23px 7px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 23px 23px 7px rgba(0,0,0,0.16);
	box-shadow: 0px 23px 23px 7px rgba(0,0,0,0.16);	
}
#htmlcontent_top {
    float:right;
    width:33.17998849913744%;
    max-width:100%;
    padding:0px;
}
#homepage-slider {
	padding: 0px;
	margin: 0px;
	width: 65.38240368027602%;
    max-width: 100%;
    max-height: 100%;
    float: left;
}
#homepage-slider .homeslider-description { display: none; }
#htmlcontent_top ul li {
    width: 100%;
    margin:0px;
    padding: 0px;
}
#htmlcontent_top ul li.htmlcontent-item-1{
	margin: 0px 0px 30px 0px;
}

.bx-controls.bx-has-pager{
	position: absolute;
	right: 25px; bottom:25px;
	z-index: 100;
}
.bx-wrapper .bx-pager{
	position:static;
	bottom:auto;
	width:auto;
}
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a{
    background: rgba(255,255,255,0.8);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: rgba(255,255,255,1.0);
}

/* ------------------------------------------ */
/* PREVIEW CATEGORIE */
/* ------------------------------------------ */

body#index #center_column.col-sm-12{
    padding: 0px;
}
#prev_cat_wrapper{
    background:#f6f5f3;   
    margin: 0px 0px 51px 0px; padding:45px 0px;
}
#prev_cat{
    margin: 0px auto; padding: 0px;
    max-width:1170px;
    overflow: hidden;
}
#prev_cat ul{
    margin: 0px; padding: 0px;
    list-style: none;
}
#prev_cat ul li{
    float: left;
    width: 23.5%;
    margin: 0px 0px 0px 2.0%;
}
#prev_cat ul li:first-child{
    margin: 0px;
}
#prev_cat ul li a{
    display: block;
    margin: 0px; padding: 0px;
    position: relative;
}
#prev_cat ul li a img{
    width: 100%; height: auto;
    margin: 0px; padding: 0px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
#prev_cat ul li a p.catName{
    position: absolute;
    right: 0px; bottom:33%;
    font-family: 'Poppins';
    font-size: 20px; font-weight: 600; color:#fff; line-height: 20px;
    background: #5e2d22; text-transform: uppercase;
    box-sizing: border-box;
    margin: 0px; padding: 11px 45px 11px 20px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
#prev_cat ul li a:hover p.catName{
    margin: 0px; padding: 11px 65px 11px 20px;
}

/* ------------------------------------------ */
/* BANNER FULLPAGE */
/* ------------------------------------------ */

div#bannerFull{
    margin: 0px; padding: 0px;
}
div#bannerFull table{
    max-width: 100%;
    margin: 0px; padding: 0px;
    border-collapse: collapse;
    border:none;
}
div#bannerFull table tr td{
    margin: 0px; padding: 0px;
}
div#bannerFull table tr td img{
    max-width: 100%;
    height: auto;
    margin: 0px; padding: 0px;
}

/* ------------------------------------------ */
/* LOGIN */
/* ------------------------------------------ */

#login_form .form-group {
    margin: 0 0 15px 0;
}
#my-account ul.myaccount-link-list li a {
    color:#693a2e;
    text-shadow: 0px 0px white;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    border:none;
    background:transparent;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
}
#my-account ul.myaccount-link-list li a i {
    color: #693a2e;
    border:none;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#my-account ul.myaccount-link-list li a span {
    display: block;
    padding: 13px 15px 15px 17px;
    overflow: hidden;
    border: 1px solid;
    margin-left: 52px;
    border-color: #fff #fff #fff #c8c8c8;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#my-account ul.myaccount-link-list li a:hover {
    filter: none;
    background: #f0f0f0;
    border-color: #9e9e9e #c2c2c2 #c8c8c8 #c2c2c2;
}
body#address .box,
body#identity .box,
body#password .box{ padding: 0px 0px 20px 0px; }
body#address .page-subheading,
body#identity .page-subheading,
body#password .page-subheading{
    margin: 12px 0px 25px 0px; 
    padding: 0px 0px 12px 0px;
}
body#address #submitAddress{ margin: 15px 0px 0px 0px; }

.address_firstname.address_lastname{
    font-weight: 700;
    text-transform: uppercase;
}
ul.address li{
    padding: 3px 0px;
}

/* ------------------------------------------ */
/* CMS */
/* ------------------------------------------ */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color:#2e2e2e;
}
h5, .h5 {
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color:#8D5D45;
}
h1, .h1 { font-size: 40px; }
h2, .h2 { font-size: 35px; }
h2{ margin-top: 7px; }
h3, .h3 { font-size: 30px; }
h4, .h4 { font-size: 25px; }
h5, .h5 { font-size: 19px; }
h6, .h6 { font-size: 20px; }
h1 small, .h1 small { font-size: 25px; }
h2 small, .h2 small { font-size: 22px; }
h3 small, .h3 small,
h4 small, .h4 small { font-size: 19px; }

#cms #center_column p {
    font-size: 16px;
    line-height: 26px;
}
#cms #center_column .list-1 li {
    color: #222;
}

/* ------------------------------------------ */
/* SLIDESHOW FOOTER */
/* ------------------------------------------ */

#slideFooterWrapper{
    background-image:url(../img/bgSlideBottom.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px; padding: 163px 0px 130px 0px;
}
#slideFooter{
    max-width:691px;
    margin: 0px auto; padding: 0px;
}
#slideFooter .item table{
    margin: 0px; padding: 0px;
    border-collapse: collapse;
}
#slideFooter .item table tr td{
    margin: 0px; padding: 0px;
    text-align: center;
    vertical-align: top;
}
#slideFooter .item h1{
    background: url(../img/bgTitleSlideBottom.png) center bottom no-repeat;
    font-size:24px; font-weight: normal; color:#693a2e;
    text-transform: uppercase; line-height: 28px;
    margin: 0px 0px 44px 0px; padding: 0px 0px 55px 0px;
}
#slideFooter .item img{
    display: block !important;
    width: auto; height: auto;
    margin: 0px auto 34px auto; padding: 0px;
}
#slideFooter .item p{
    font-size: 17px; font-weight:600; font-style: italic;
    color:#693a2e; line-height: 24px;
    margin: 0px 0px 60px 0px; padding: 0px;
}
#slideFooter .item a.moreDetails{
    display: inline-block;
    background:#693a2e;
    font-size:12px; font-weight: bold; color:#fff;
    margin: 0px; padding:12px 22px; text-transform: uppercase;
    -moz-border-radius:4px;  
    -webkit-border-radius:4px;  
    border-radius:4px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
#slideFooter .item a.moreDetails:hover{
    background:#444;
}
#slideFooter .owl-carousel .owl-nav .owl-prev,
#slideFooter .owl-carousel .owl-nav .owl-next{
    position: absolute;
    top:50%;
    margin: -14px 0px 0px 0px; padding: 0px;
    width: 28px; height: 28px;
    overflow: hidden;
    text-indent: -999em;
    border-radius:0px;
    background-color:transparent;
    background-position: left top;
    background-repeat: no-repeat;
    opacity: 1.0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
#slideFooter .owl-carousel .owl-nav .owl-prev{
    background-image:url(../img/slideFooter_prev.png);
    left:-128px;
}
#slideFooter .owl-carousel .owl-nav .owl-prev:hover{
    background-color:transparent;
    background-image:url(../img/slideFooter_prev.png);
    opacity: 0.8;
    left:-120px;
}
#slideFooter .owl-carousel .owl-nav .owl-next{
    background-image:url(../img/slideFooter_next.png);
    right:-128px;
}
#slideFooter .owl-carousel .owl-nav .owl-next:hover{
    background-color:transparent;
    background-image:url(../img/slideFooter_next.png);
    opacity: 0.8;
    right:-120px;
}

/* ------------------------------------------ */
/* HOME TAB */
/* ------------------------------------------ */

#tabLinksWrapper{
    width: 100%; max-width: 1170px;
    margin: 0px auto; padding: 0px;
    overflow: hidden;
}
#tabLinksWrapperText{
    float:left;
    width: 41.45299145299145%;
    margin: 0px; padding: 0px;
}
#tabLinksWrapperText h4{
    margin: 0px 0px 7px 0px; padding: 0px;
    font-size:27px; font-weight: 300; color:#444;
    line-height: 32px; text-transform: uppercase;
}
#tabLinksWrapperText h1{
    margin: 0px 0px 5px 0px; padding: 0px;
    font-size:54px; font-weight:600; color:#5e2d22;
    line-height:59px;
}
#tabLinksWrapperText p{
    margin: 0px; padding: 0px;
    font-size:13px; font-weight:600; color:#555;
    line-height:18px;
}

#tabLinks{
    float: right;
    margin: 0px; padding: 97px 0px 0px 0px;
    width: 41.45299145299145%;
}
#home-page-tabs{
    margin: 0px; padding: 0px;
    list-style:none;
    border:none;
    text-align: right;
}
#home-page-tabs > li{
    float:none;
    display: inline-block;
    margin: 0px 0px 0px 40px; padding: 0px;
    border:none;
}
#home-page-tabs > li a{
    margin:0px; padding: 0px;
    background: transparent;
    font-size: 16px; font-weight: 600; font-style:normal;
    color: #333; text-transform: none;
}
#home-page-tabs > li.active a{
    margin:0px; padding: 0px;
    background: transparent;
    color:#b59750; text-transform: none;
    text-decoration: underline;
}
#home-page-tabs > li a:hover{
    margin:0px; padding: 0px;
    background: transparent;
    color:#b59750; text-transform: none;
    text-decoration: underline;
}
#index .tab-content{ 
    margin: 43px 0px 120px 0px; 
    overflow: hidden;
    position: relative;
}

#index .tab-content .owl-carousel.owl-loaded{ display: none; }
#index .tab-content .owl-carousel.owl-loaded.active{ display: block; }

.prodImgHome{
    background: #f6f5f3;
    display: block;
    margin: 0px; padding: 0px;
    outline: none;
    position: relative;
}
.prodImgHome img{
    width: 100%; height: auto;
    margin: 0px; padding: 0px;
    border:none;
}
#index a.product-name{
    position: absolute;
    left:0px; top:0px;
    width: 260px; height: 80px;
    box-sizing: border-box;
    background-image:url(../img/bgProdName.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:10;
}
#index  a.product-name span{
    display: block;
    color:#fff;
    font-size: 20px; line-height: 25px;
    margin: 0px; padding: 20px 0px 0px 30px;
}
a.details{
    display: block;
    background:#47270b;
    width: 100%; height: 50px;
    margin: 0px; padding: 0px;
    line-height: 50px;
    font-size:16px; text-align: center; font-weight: bold;
    color:#fff; text-transform: uppercase;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
a.details:hover{ background:#66360c; }

#preTab,
#postTab{
    position: absolute;
    top:0px; 
    height: 100%;
    background: rgba(255,255,255,0.9);
    z-index: 100;
}
#preTab{ left:0px; }
#postTab{ right:0px; }

.tab-content .owl-carousel .owl-nav .owl-prev,
.tab-content .owl-carousel .owl-nav .owl-next{
    position: absolute;
    top:50%; left:50%;
    margin: -25px 0px 0px -25px; padding: 0px;
    width: 50px; height: 50px;
    overflow: hidden;
    text-indent: -999em;
    border-radius:0px;
    background-color:transparent;
    background-position: left top;
    background-repeat: no-repeat;
    opacity: 1.0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 400;
}
.tab-content .owl-carousel .owl-nav .owl-prev{
    background-image:url(../img/tab_prev.png);
    margin: -25px 0px 0px -785px;
}
.tab-content .owl-carousel .owl-nav .owl-prev:hover{
    background-color:transparent;
    background-image:url(../img/tab_prev.png);
    opacity: 0.8;
}
.tab-content .owl-carousel .owl-nav .owl-next{
    background-image:url(../img/tab_next.png);
    margin: -25px 0px 0px 735px;
}
.tab-content .owl-carousel .owl-nav .owl-next:hover{
    background-color:transparent;
    background-image:url(../img/tab_next.png);
    opacity: 0.8;
}
.tab-content .owl-theme .owl-nav{
    z-index: 400;
}
.tab-content .owl-carousel{ z-index:auto; }
.tab-content li.alert{ display: none; }

/* ------------------------------------------ */
/* BREADCRUMB */
/* ------------------------------------------ */

#bradcrumbWrapper{
    width: 100%; height:269px;
    margin: 0px 0px 36px 0px; padding: 0px;
    background-image:url(../img/bgBread.jpg); 
    background-position:center center; 
    background-repeat:no-repeat;
    background-size:cover; 
    -webkit-box-shadow: 0px 15px 23px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 15px 23px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 15px 23px 0px rgba(0,0,0,0.15);
}
.breadcrumb{
    display: block;
    width: 100%;
    max-width: 1170px;
    margin: 0px auto; padding: 0px;
    position: relative;
    border:none;
    background: transparent;
    top:100px;
    font-weight: normal;
    font-size: 14px; line-height: 14px;
    border-radius: 0px;
    color:#fff;
}
.breadcrumb a {
    display: inline-block;
    background:transparent;
    padding:0px;
    margin-left:0px;
    position: relative;
    z-index: 2;
    color:#fff;
}
.breadcrumb .navigation-pipe {
    display: inline-block;
    padding: 0px 4px;
}
.breadcrumb h1#pageTitle{
    font-size: 72px; font-weight: 600; text-transform: capitalize;
    color:#fff;
    margin: 11px 0px 0px 0px; padding: 0px;
}

/* ------------------------------------------ */
/* CATEGORIE */
/* ------------------------------------------ */

#categories_block_left h2.title_block{ display: none; }
#categories_block_left .block_content,
#blogLeftColumn .block_content{
    border:1px solid #e5e5e5;
}
#categories_block_left .block_content > ul,
#blogLeftColumn .block_content > ul{
    border-top:none;
    margin: 0px; padding: 0px;
    list-style: none;
}
#categories_block_left li,
#blogLeftColumn li{
    background: #f6f5fa;
}
#categories_block_left li span.grower {
    display: block;
    background:transparent;
    font-family: "FontAwesome";
    font-size: 14px;
}
#categories_block_left li span.grower.OPEN:before, 
#categories_block_left li span.grower.CLOSE:before {
    content: "\f0d7";
    display: block;
    vertical-align: middle;
    width: 48px;
    height: 43px;
    color: #fff;
    line-height: 43px;
    text-align: center;
}
#categories_block_left li span.grower.CLOSE:before {
    content: "\f0da";
    color: #fff;
}
#categories_block_left li a.selected,
#categories_block_left li a:hover,
#categories_block_left li span.grower:hover + a,
#blogLeftColumn li a.selected,
#blogLeftColumn li a:hover{
    background: #5d2d22;
}
#categories_block_left li > a{
    background:#8d5d45;
    display: block;
    font-family: 'Poppins';
    font-size:16px; line-height:20px; font-weight: 600;
    color: #fff; text-transform: uppercase;
    padding:11px 48px 11px 23px;
    border-bottom:1px solid #fff;
}
#blogLeftColumn li p{
    margin: 0px; padding: 0px;
    border:none;
}
#blogLeftColumn li p a{
    background:#8d5d45;
    display: block;
    font-family: 'Poppins';
    font-size:16px; line-height:20px; font-weight: 600;
    color: #fff; text-transform: uppercase;
    padding:11px 23px 11px 23px;
    border-bottom:1px solid #fff;
}
#blogLeftColumn li p a.catblog_desc{ display:none; }
#categories_block_left ul ul{
    padding: 14px 0px 60px 0px;
}
#categories_block_left li li a{
    background:transparent url(../img/tazzina.png) left center no-repeat;
    display: block;
    font-family:'Open Sans';
    font-size:18px; line-height:24px; font-weight: 700;
    color:#2f170d; text-transform:none;
    padding:7px 0px 7px 28px;
    margin:4px 47px 4px 21px;
    border-bottom:1px solid #e8e2e5;
    position: relative;
}
#categories_block_left li li a:before{
    display: none;
    content:'';
    width:6px; height: 100%;
    background: #733f33;
    position: absolute;
    left:-36px; top:0px;
}
#categories_block_left li li:hover a:before{
    display: block;
}
#categories_block_left li li a:hover,
#categories_block_left li li a.selected{
    background:transparent url(../img/tazzina.png) left center no-repeat;
    text-decoration: none;
    display: block; 
}
#categories_block_left li li a.selected:before{
    display: block;
}
#bannerLeft img{
    width: 100%; height: auto;
    box-sizing: border-box;
}
body#index #prev_cat_wrapper_footer{ display: none; }
#prev_cat_wrapper_footer #prev_cat_wrapper{
    margin: 0px;
}

/* ------------------------------------------ */
/* CARRELLO */
/* ------------------------------------------ */

#layer_cart .cross {
    right: 11px;
    top: 11px;
    color: #733f33;
}
#layer_cart .layer_cart_cart,
#layer_cart .layer_cart_product{
    background: #fff;
    padding:30px;
    min-height: 340px;
}

#layer_cart .layer_cart_product .title,
#layer_cart .layer_cart_cart .title{
    font-family: 'Poppins'; 
    font-size: 22px; line-height: 28px;   
    color: #5e2d22;
    margin:0px 0px 30px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom:1px solid #ddd;
}
#layer_cart .layer_cart_product .product-image-container {
    border: 1px solid #ddd;
    padding: 0px;
    margin-right: 35px;
}
#layer_cart .layer_cart_product .layer_cart_product_info {
    padding: 10px 0 0 0;
}
.product-name {
    font-size: 17px;
    line-height: 23px;
    color: #3a3939;
    margin-bottom: 0;
}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium i {
    color: #fff;
}
#cart_summary thead th {
    padding: 12px 15px;
}
#cart_summary tbody td.cart_product {
    padding: 14px;
    width: 137px;
}
#cart_summary tbody td {
    font-size: 14px !important;
}
a.reorder-button{
    display: block;
    height: auto;
    line-height: normal;
    margin: 0px;
    padding: 8px;
    background: #b59750;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
a.reorder-button:hover {
    background: #333;
    cursor: pointer;
}

/* ------------------------------------------ */
/* SCHEDA PRODOTTO */
/* ------------------------------------------ */

.top-hr { display: none; }
#backWrapper{
	margin: 0px; padding: 0px 0px 40px 0px;
	text-align: center;
}
#backWrapper a{
	text-transform: uppercase;
	font-size: 14px;
	font-weight:700;
	color:#f0f0f0;
	background:#5e2d22;
    padding: 7px 15px;	
}
#backWrapper a:before{
    content:'\f104';
    font-family:'FontAwesome';
    padding: 0px 8px 0px 0px;
}

.pb-left-column #image-block {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 0px;
    border: 1px solid #e5e5e5;
    background: #fff;
    margin: 0px 0px 15px 0px;
}
.pb-left-column #image-block #view_full_size .span_link {
    position: absolute;
    bottom: auto;
    top: 19px;
    left: 19px;
    margin-left: 0px;
    display: block;
    padding: 0px;
    text-align: center;
    line-height: 22px;
    color: #733f33;
    width: auto;
    text-align: center;
    font-weight: 700;
    background: transparent;
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}
.pb-left-column #views_block {
    margin:0px 0px 30px 0px;
    position: relative;
    overflow: hidden;
}
span.view_scroll_spacer {
    float: none;
    width: 20px;
    padding-left:0px;
    position: absolute;
    left: 0px;
    top: 50%;
    z-index: 10;
    margin:-10px 0px 0px 0px;
}
#view_scroll_right {
    margin-top:-10px;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    right: 0px; top:50%;
    z-index: 10;
}
#thumbs_list ul#thumbs_list_frame {
    height: 105px;
    margin: 0px;
}
#thumbs_list {
    float: none;
    width: auto !important;    
    margin: 0px 30px;
}
#thumbs_list li {
    float: left;
    height: auto;
    border:none;
    margin-right: 8px;
}
#thumbs_list li a {
    border:2px solid #e5e5e5;
}
#thumbs_list li a:hover, 
#thumbs_list li a.shown {
    border:2px solid #cbcbcb;
}
#thumbs_list li img {
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#view_scroll_left:before, 
#view_scroll_right:before {
    padding-left:0px;
    color:#733f33;
    line-height: 20px;
}
a#view_scroll_left:hover:before, 
a#view_scroll_right:hover:before{
    color:#9d5747;
}
.pb-center-column h1 {
    margin:16px 0px 25px 0px; padding: 0px;
    font-family:'Poppins';
    font-size: 38px; color:#2e2e2e; text-transform: uppercase;
    font-weight: 700;
}
.pb-center-column{
    font-size: 16px; line-height:28px;
}
.pb-center-column #product_reference,
.pb-center-column #product_condition{
    margin-bottom: 0px;
    font-size:14px; line-height:20px;
    font-style:normal;
}
.pb-center-column label {
    margin-bottom:3px;
    margin-top:4px;
}
.pb-center-column #short_description_block {
    color:#606060;
}
.pb-center-column #short_description_block .rte {
    border-top:1px solid #e5e5e5;
    padding:25px 0px;
    margin:25px 0px 0px 0px;
    word-wrap: break-word;
}
#availability_statut, 
#pQuantityAvailable {
    display:none !important;
}
.box-info-product {
    background:transparent;
    border: none;
    border-top: none;
    border-bottom: none;
    border-left:1px solid #e5e5e5;
}
.box-info-product .content_prices {
    padding:40px 30px;
}
.box-info-product .our_price_display {
    font-weight:600;
    font-size:12px;
    line-height:12px;
    font-family:"Poppins", sans-serif;
    color:#5c2c22;
}
.box-info-product .our_price_display .price {
    font-weight:600;
    font-size:25px;
    line-height:25px;
    color:#5c2c22;
}
.box-info-product p.total{
    font-family: 'Poppins';
    font-size:16px;
    line-height:16px; font-weight:700;
    text-transform: uppercase;
    color:#5c2c22;
    margin: 0px 0px 28px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #e5e5e5;
}
.box-info-product #reduction_percent, 
.box-info-product #reduction_amount {
    margin-right: 10px;
    padding: 3px 5px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    background: #f13340;
    border: none;
}
.box-info-product #old_price {
    padding-bottom: 0px;
    font-size: 14px;
    text-decoration: line-through;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
    color:#908f8f; 
}
.box-info-product #old_price .price{
    color:#908f8f; 
}

h3.page-product-heading {
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    padding: 20px 20px;
    margin: 0 0 0px;
    position: relative;
    border: none;
    border-bottom: none;
    background: #5d2d22;
}
.product_attributes{
    border:none;
    padding:10px 25px 0px 30px;
}
body#product .box-cart-bottom #add_to_cart{
    position: absolute;
    right:-30px; bottom: 0px;
}
body#product .box-cart-bottom #add_to_cart button{
    width: 143px; height: 116px;
    margin: 0px; padding: 0px;
    border:none;
    background-color: transparent;
    background-image: url(../img/tazzaAcquista.png);
    background-position:left top;
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
}
body#product .box-cart-bottom #add_to_cart button span{
    position: absolute;
    right:17%; top:47%;
    margin: 0px; padding: 0px;
    color:#fff;
    font-family: 'Poppins';
    font-size: 13px; line-height: 13px; font-weight: 600;
    text-transform: uppercase;
}
#product_payment_logos{
    display: none;
}
.box-cart-bottom {
    border:none;
    padding:0px 0px 110px 0px;
}

/* ------------------------------------------ */
/* PRODUCT LIST - GENERALE */
/* ------------------------------------------ */

ul.product_list.grid > li {
    border:1px solid #e5e5e5;
    padding:0px;
    margin: 0px 0px 60px 0px;
    text-align:left;
}
ul.product_list.grid > li .product-container {
}
ul.product_list.grid > li .product-container .product-image-container {
    border: none;
    padding: 0px;
    margin:30px 0px;
    position: relative;
}
ul.product_list.grid > li .new-label{
    padding:8px;
    right:auto; top:0px; left:0px;
    border-radius:2px;
    font-size: 11px;
}
body#product .new-label{
    top:19px;
    padding:8px;
    border-radius:3px;
    font-size:11px;
}
ul.product_list.grid > li .sale-label,
body#product .sale-label{
    margin: 0px; padding: 0px;
    width: 91px; height: 73px;
    position: absolute;
    right: 0px; top:0px;
    background: transparent url(../img/bgPromo.png) center center no-repeat;
    border-radius: 0px 0px 0px 0px;
}

ul.product_list.grid > li .prodDesc{
    float: left;
    width: 50%;
    border-right:1px solid #e5e5e5;
    margin: 0px;
    padding: 30px 32px 30px 0px;
    position: relative;
    box-sizing: border-box;
}
ul.product_list.grid > li .product-container h5{
    margin:0px;
    padding:0px;
    min-height:auto;
}
ul.product_list.grid > li .product-container h5 .product-name {
    font-family: 'Poppins';
    font-size:27px; line-height:31px; text-transform: uppercase;
    color:#2e2e2e; font-weight: 700;
}
ul.product_list.grid > li .product-container .product-desc {
    font-family: 'Poppins';
    font-size:14px; line-height:24px;
    color:#606060; font-weight: 400;
    padding: 0px 0px 36px 0px;
    margin: 0px;
}
ul.product_list.grid > li .button.lnk_view {
    background:#733f33;
    margin: 0px; padding:12px 32px;
    font-size:13px; line-height:13px;
    color:#fff; font-weight: 700; text-transform: uppercase;
    text-shadow: 0px 0px white; text-align: center;
    border:none;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    box-sizing: border-box;
    width: 100%;
}
ul.product_list.grid > li .button.lnk_view:hover{
    background:#333;
}
ul.product_list.grid > li .button.lnk_view span {
    border:none;
    padding:0px;
    background:transparent;
    background-image:none;
    background-repeat:no-repeat;
}
ul.product_list.grid > li .combinations{
    float: left;
    width: 50%;
    margin: 0px;
    padding: 38px 27px 0px 27px;
}
body#product .combinations{
    padding:29px 25px 0px 30px;
}
ul.product_list.grid > li .combinations h4,
body#product .combinations h4{
    font-family: 'Poppins';
    font-size:20px; line-height:20px;
    color:#2e2e2e; font-weight:600;
    margin: 0px 0px 17px 0px; padding: 0px;
}
ul.product_list.grid > li .comb-wrapper,
body#product .combinations .comb-wrapper{
    margin: 0px 0px 30px 0px; padding: 0px;
    overflow: hidden;
}
ul.product_list.grid > li .comb-name,
body#product .combinations .comb-name{
    font-family: 'Poppins';
    font-size:14px; line-height:14px;
    color:#606060; font-weight:400;
    margin: 0px 0px 6px 0px; padding: 0px;
}
ul.product_list.grid > li .price-comb,
body#product .combinations .price-comb{
    margin: 0px 0px 4px 0px;
}
ul.product_list.grid > li .price-comb .total,
body#product .combinations .price-comb .total,
.right-block.machines .total{
    font-family: 'Poppins';
    font-size:14px; line-height:14px;
    color:#5c2c22; font-weight:700;
}
.right-block.machines .total{
    font-size:17px; line-height:17px;
}
ul.product_list.grid > li .price-comb .pricex,
body#product .combinations .price-comb .pricex,
.right-block.machines .price{
    font-family: 'Poppins';
    font-size:20px; line-height:20px;
    color:#5c2c22; font-weight:700;
}
.right-block.machines .price{
    font-size:23px; line-height:23px;
}
ul.product_list.grid > li .empty-comb,
body#product .combinations .empty-comb{
    display: block;
    font-family: 'Poppins';
    font-size:14px; line-height:14px;
    color:#5c2c22; font-weight:400;
    border-bottom: 1px solid #8d5d45;
    margin: 0px; padding: 0px 0px 12px 0px;
}
.old-price {
    color: #908f8f;
    text-decoration: line-through;
}
ul.product_list.grid > li .old-price,
body#product .combinations .old-price,
.right-block.machines .old-price{
    font-family: 'Poppins';
    font-size:14px; line-height:14px;
    color: #908f8f; 
    text-decoration: line-through;
}
.right-block.machines .old-price{
    font-size:17px; line-height:17px;
}
ul.product_list.grid > li select.quantity,
body#product .combinations select.quantity{
    position: relative;
    top:9px;
    display: block;
    float: left;
    width: 18%; height: 23px; line-height: 23px;
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    border:1px solid #a7a7a7;
    font-size: 11px;
}
ul.product_list.grid > li .button.ajax_add_to_cart_button,
body#product .combinations .button.ajax_add_to_cart_button{
    display: block;
    float: right;
    width: 78%; height: 38px;
    margin: 0px; padding: 0px;
    background: url(../img/bgCartVarianti.png) right center no-repeat;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
ul.product_list.grid > li .button.ajax_add_to_cart_button:hover,
body#product .combinations .button.ajax_add_to_cart_button:hover{
    background: url(../img/bgCartVarianti.png) 108% center no-repeat;
}
#product_list .ajax_add_to_cart_button.btn-default, 
.compare .add_to_compare, 
.button-container .lnk_view.btn-default {
    display: none !important;
}
.bottom-pagination-content {
    border-top:none;
    font-size: 13px; line-height: 13px;
}
#center_column .primary_block {
    border:none;
    padding-top:0px;
}
.pb-left-column #image-block img {
    background:transparent;
    width: 100%;
}
.right-block.machines{
    padding:30px 15px;
    position: static;
}
.right-block.machines h5{
    font-family: 'Poppins';
    font-size:30px; line-height:30px;
    color: #2e2e2e; font-weight: bold;
    margin:0px 0px 10px 0px; padding: 0px;
}
.right-block.machines p.product-desc{
    font-family: 'Poppins';
    font-size:14px; line-height:22px;
    color: #606060; font-weight: 400;
    margin:0px 0px 30px 0px; padding: 0px;
}
.right-block.machines .content_price{
    border-top:1px solid #e5e5e5;
    padding: 30px 0px 0px 0px;
    margin: 0px;
}
ul.product_list.grid > li .product-container .price-percent-reduction {
    display:none !important;
}
ul.product_list .availability span.label-success {
    display: block;
    background: transparent;
    font-family: 'Poppins';
    font-size:16px; line-height:16px;
    color:#5c2c22; font-weight: 700; text-transform: uppercase;
    padding:0px; margin:0px;
    border:none;
}
.right-block.machines .box-cart-bottom {
    border: none;
    padding: 0px;
    position: absolute;
    right:-35px; bottom: -61px;
}
ul.product_list.grid > li .right-block.machines .button.lnk_view {
    margin: 60px 0px 40px 0px;
    clear: both;
    position: static;
    left:auto;
    bottom:auto;
}
ul.product_list .availability span {
    display: block;
    font-weight: bold;
    padding: 0px;
    margin-bottom:10px;
    background: transparent;
    border: none;
    color: #f3515c;
    text-transform: uppercase;
}
.box-cart-bottom .add_to_cart a span{ color:#fff !important; }

/* ------------------------------------------ */
/* FAQ */
/* ------------------------------------------ */

h6.req{
    font-family: "Open Sans", sans-serif;
	font-size:16px; font-weight: 600;
	margin: 0px; padding: 7px 0px;
	color:#606060;
	cursor: pointer;
}
h6.req:after{
    content:'\f105';
    font-family: 'FontAwesome';
    color:#8D5D45;
    padding: 0px 0px 0px 8px;
}
div.resp{
	display: none;
	margin: 0px;
    padding: 6px 0px 18px 0px;
}

/* ------------------------------------------ */
/* FOOTER */
/* ------------------------------------------ */

.footer-container {
    background-image:url(../img/bgFooter.jpg);
    background-position:center bottom;
    background-repeat:no-repeat;
    background-size:cover;
    padding: 50px 0px 0px 0px;
    margin: 0px;
}
.footer-block{ 
    float:left;
    box-sizing: border-box; 
}
.footer-container #footer ul li {
    padding:0px;
    margin: 0px 0px 5px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.footer-container #footer ul li:before{
    content:'\f111';
    font-family: 'FontAwesome';
    color:#d7d7d7;
    font-size: 10px;
    margin: 0px 9px 0px 0px;
}
.footer-container #footer ul li a {
    font-weight: normal;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color:#d7d7d7;
}
.footer-container #footer { 
    color: #fff; 
    border-bottom:2px solid #edd8c9;
    padding-bottom: 45px;
    position: relative;
}
.footer-container .container { padding-bottom:0px; }
.footer-container #footer .footer-block { margin-top: 0px; }
.footer-container #footer #block_contact_infos { 
    border-left:none; 
    width: 29.57264957264957%;
    border-right:1px solid #80564a;
    min-height: 240px;
}

.footer-container #footer .blockcategories_footer,
.footer-container #footer #links_block_footer{
    width:23.47578347578348%;
    clear: none;
    border-right:1px solid #80564a;
    padding: 0px 17px 0px 37px;
    min-height: 256px;
}
.footer-container #footer #block_various_links_footer{
    width:23.47578347578348%;
    padding: 0px 17px 0px 37px;
    min-height: 240px;
}
#logoFooter{ margin: 0px 0px 20px 0px; }
#footer #block_contact_infos ul{
    margin: 0px 0px 23px 0px; padding: 0px;
}
.footer-container #footer #block_contact_infos > div ul li{
    padding:0px 30px 0px 35px;
    margin:0px 0px 12px 0px;
    overflow: hidden;
    line-height:20px;
    position: relative;
    font-size:12px; color:#d7d7d7;
}
.footer-container #footer #block_contact_infos > div ul li:before{
    content:'';
    margin: 0px;
}
.footer-container #footer #block_contact_infos > div ul li > span,
.footer-container #footer #block_contact_infos > div ul li > span a{ color:#d7d7d7; }
.footerAddress div.footerIcon{
    display: block;
    position: absolute;
    left:0px; top:0px;
    background:url(../img/footerAddress.png) left top no-repeat;
    width:20px; height: 21px;
}
.footerFax div.footerIcon{
    display: block;
    position: absolute;
    left:0px; top:0px;
    background:url(../img/footerFax.png) left top no-repeat;
    width:20px; height: 21px;
}
.footerMail div.footerIcon{
    display: block;
    position: absolute;
    left:0px; top:0px;
    background:url(../img/footerMail.png) left top no-repeat;
    width:20px; height: 21px;
}
p#piva{
    font-size:12px; color:#d7d7d7;
    margin: 0px; padding: 0px 0px 0px 35px;
}
.footer-container #footer h4 {
    font-family: 'Montserrat', sans-serif;
    font-size:16px; font-weight: 600; color:#edd8c9;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    cursor: pointer;
}
#greenNumberFooter{
    float: left;
    margin: 10px 6px 0px 0px; padding: 0px;
}
#socials{
    float: left;
    padding: 27px 0px 0px 0px;
}
#socials a{ margin: 0px 0px 0px 3px; }
.footer-container #footer .row {
    position: static;
}
#footer .liveChat{
    bottom: 0px;
}
#footerBottom{
    clear: both;
    max-width: 1170px;
    width:100%;
    margin: 0px auto;
    padding: 13px 0px;
    overflow: hidden;
}
#footerBottom #paiement_logo_block_left{
    float: right;
}
#footerBottom #scrollTop{
    float: right;
    width: 26px; height: 26px;
    background:url(../img/bgScrollTop.png) center center no-repeat;
    margin: 0px 0px 0px 28px; padding: 0px;
    cursor: pointer;
}

/* ------------------------------------------ */
/* BLOG */
/* ------------------------------------------ */

#blogLeftColumn{ display: none; }
body#module-prestablog-blog #blogLeftColumn{ display:block; }
#prestablog_menu_cat{ display: none !important; }

#blog_list li {
    display: block;
    list-style: none;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    padding: 0px;
    margin: 0px 0px 30px 0px;
    width: 100%;
    float: none;
    overflow: hidden;
}
#blog_list li:hover {
    background: transparent;
    box-shadow: #fff 0px 0px 0px;
}
#blog_list .block_cont {
    width: 100%;
    border:none;
}
#blog_list .block_top {
    width:33%;
    position:relative;
    float: left;
}
#blog_list .block_bas {
    width:63%;
    padding:0px;
    float: right;
}
.date_blog-cat {
    border-top:1px solid #ddd;
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color:#444;
    margin: 30px 0px 0px 0px !important; padding:8px 0px !important;
}
.date_blog-cat a{
    color:#8d5d45 !important;
}
#blog_list h3 {
    line-height:1.5;
    padding:7px 0px 0px 0px;
    margin:0px 0px 15px 0px;
    border-bottom:none;
    font-size:22px;
    height:auto;
    text-transform: uppercase;
    color:#5e2d22;
}
#blog_list h3 a{
    color:#5e2d22;
}
#blog_list .blog_desc{
    width: 100%;

}
#blog_list .blog_desc{
    margin: 0px; padding: 0px;
    font-size:16px;
}
.rrssb-buttons li {
    width: 30px !important;
    height: 100%;
    list-style: none;
    margin: 0;
    padding:0 2.5px;
}
.rrssb-buttons li span.text{ 
    display: none; 
}
#prestablogfont{
    margin: 0px 0px 55px 0px;
}

/***********************/
/*  MEDIA QUERIES      */
/***********************/

@media only screen and (max-width:1850px) {

    /* Slider */
    body#index #slider_row{
        max-width:97%;
        padding: 0px 44px 47px 44px;
    }    
    #index .tab-content {
        margin: 40px 0px 100px 0px;
    }    

}

@media only screen and (max-width:1650px) {

    /* Slider */
    body#index #slider_row{
        max-width:96%;
        padding: 0px 34px 37px 34px;
    }    
    #index .tab-content {
        margin: 40px 0px 90px 0px;
    }    
    #htmlcontent_top {
        width: 32.8%;
    }    

    /* Slide footer */
    #slideFooterWrapper {
        padding: 143px 0px 110px 0px;
    }    

}

@media only screen and (max-width:1550px) {

    /* Slider */
    body#index #slider_row{
        max-width:96%;
        padding: 0px 30px 30px 30px;
    }    
    #index .tab-content {
        margin: 40px 0px 80px 0px;
    }    
    #htmlcontent_top {
        width: 32.5%;
    }    

    /* Slide footer */
    #slideFooterWrapper {
        padding: 123px 0px 100px 0px;
    }    

}

@media only screen and (max-width:1450px) {

    /* Header */
    header .row #header_logo {
        left: -75px;
        top: -47px;
        width: 216px;
    }    
    #greenNumber {
        left: 139px;
    }    

}

@media only screen and (max-width:1350px) {

    /* Header */
    header .row #header_logo {
        left: -44px;
        top: -51px;
        width: 187px;
    }
    #greenNumber {
        left: 139px;
    }    
    .breadcrumb {
        top: 86px;
    }    
    #bradcrumbWrapper {
        height: 234px;
    }    
    .breadcrumb h1#pageTitle {
        font-size: 62px;
    }    

    /* Slider */
    body#index #slider_row{
        max-width:96%;
        padding: 0px 25px 25px 25px;
    }    
    #index .tab-content {
        margin: 40px 0px 80px 0px;
    }    
    #htmlcontent_top {
        width: 32.22%;
    }    

    /* Slide footer */
    #slideFooterWrapper {
        padding: 113px 0px 90px 0px;
    }    

}   

@media only screen and (max-width:1250px) {

    /* Header */
    header .row #header_logo {
        left: 9px;
        top: -42px;
        width: 169px;
    }    
    #greenNumber {
        left: 173px;
        font-size: 16px;
    }    
    #aromaClub p, 
    #aromaClubTop p {
        height: 22px;
        font-size: 18px;
        line-height: 22px;
    }
    #block_top_menu {
        left: 178px;
    }    

    /* Slider */    
    #htmlcontent_top {
        width: 31.85%;
    }    

    /* Nuovi arrivi */
    #tabLinksWrapperText h4 {
        margin: 0px 0px 5px 0px;
        font-size: 25px;
        line-height: 30px;
    }    
    #tabLinksWrapperText h1 {
        margin: 0px 0px 5px 0px;
        font-size: 51px;
        line-height: 56px;
    }

    /* CMS */
    #center_column table{ max-width: 100%; }

    /* Product list */
	.right-block.machines .box-cart-bottom {
	    right: 5px;
	}    

}

@media only screen and (max-width:1150px) {

    /* General */    
    .container {
        max-width:97%;
    }    

    /* Header */
    #headerBottom {
        background: url(../img/bgHeaderBottom.png) 54% top no-repeat;
    }    
    .liveChat {
        width: 308px;
        height: 28px;
        background-image:url(../img/bgLiveCha_off.png);
        background-position:right top;
        background-repeat:no-repeat;
        background-size:cover;
    }    
    #languages-block-top {
        right: 326px;
    }    
    #aromaClubTop {
        right: 351px;
    }
    #aromaClub p,
    #aromaClubTop p {
        height: 20px;
        font-size: 16px;
        line-height: 20px;
    }    
    #greenNumber {
        left: 173px;
        font-size: 15px;
    }
    #block_top_menu > ul > li > a {
        font-size: 12px;
        padding: 0px 10px;
    }    
	#bradcrumbWrapper {
	    width: 100%;
	    height: 154px;
	    margin: 0px 0px 36px 0px;
	    padding: 0px 35px;
	    background-image: url(../img/bgBreadMobile.jpg);
	    box-sizing: border-box;
	}    
	.breadcrumb {
	    top: 41px;
	}	
	.breadcrumb h1#pageTitle {
	    font-size: 52px;
	}	
	.header_user_info {
	    right: 380px;
	}

    /* Slider */
    #htmlcontent_top {
        width: 31.45%;
    }    

    /* Preview categorie */
    #prev_cat {
        padding: 0px 15px;
        max-width: 97%;
        box-sizing: border-box;
    }    

    /* Tab home */
	#tabLinksWrapper,
	#index .tab-content{
        padding: 0px 15px;
        max-width: 97%;
        box-sizing: border-box;
	}    
	#index .tab-content{
        margin: 40px auto 80px auto;
	}

	/* Slide footer */
	#slideFooter {
	    max-width:50%;
	}	

	/* Blog */
	#blog_list .block_top {
	    width: 30%;
	}	
	#blog_list .block_bas {
	    width: 66%;
	}
	#blog_list h3 {
	    padding:0px;
	    margin: 0px 0px 3px 0px;
	    font-size: 20px;
	}
	#blog_list .blog_desc {
	    font-size: 15px;
	}
	.date_blog-cat {
	    margin: 20px 0px 0px 0px !important;
	}

	/* elenco prodotti */
	ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile {
	    display: none;
	}	
	.right-block.machines .box-cart-bottom {
	    right: 11px;
	    bottom: -64px;
	}
	ul.product_list.grid > li .product-container .product-desc {
	    padding:15px 0px 20px 0px;
	}
	ul.product_list.grid > li .right-block.machines .button.lnk_view {
	    margin: 30px 0px 40px 0px;
	}
	ul.product_list.grid > li .button.lnk_view {
	    position: static;
	    left:auto;
	    bottom:auto;
	}	
	ul.product_list.grid > li .prodDesc{ height: auto !important; }
	ul.product_list.grid > li .product-container h5 .product-name {
	    font-size: 25px;
	    line-height: 29px;
	}	
	/* Dettaglio prodotto */
	.pb-center-column h1 {
	    margin: 16px 0px 9px 0px;
	    font-size: 28px;
	}
	.pb-center-column #short_description_block {
		font-size: 15px;
	}

	/* Footer */
	#footerBottom {
	    max-width: 97%;
	    width: 97%;
	    padding: 15px 0px;
	    box-sizing: border-box;
	}	

}

@media only screen and (max-width:1050px) {

	/* Header */
	#aromaClub p, #aromaClubTop p {
	    font-size: 15px;
	}	
	#headerBottom {
	    background: url(../img/bgHeaderBottom.png) 59.5% top no-repeat;
	}	
	#header .cart_block {
	    top: 69px;
	}	
	a.reorder-button {
	    padding: 6px;
	    font-size: 10px;
	}
	.shopping_cart_wrapper {
	    right: 60px;
	}
	#searchToggle {
	    right: 276px;
	}	
	#search_block_top {
	    right: 302px;
	}
	#aromaClub{
	    right: 324px;
	}
	#greenNumber {
	    top: 85px;
	}	
	.breadcrumb h1#pageTitle {
	    font-size: 48px;
	}	
	#bradcrumbWrapper {
	    height: 147px;
	}	

	/* Menu */
	#block_top_menuToggle{
	  display:block;
	}
	#block_top_menu {
	    position: fixed;
	    top: 0px; left:-110%;
	    width:300px;
	    height:100%;
	    margin:0px;
	    padding:20px 0px;
	    box-sizing: border-box;
	    z-index:999;
	    background:#5e2d22;
	    overflow: hidden;
	}	
	#block_top_menu > ul > li {
	    float: none;
	}	
	#block_top_menu > ul > li > a {
	    font-size: 14px;
	    line-height: 14px;
	    font-weight: bold;
	    color: #fff;
	    height: 34px;
	    line-height: 34px;
	    padding:0px 20px;
	}
	#block_top_menu ul ul {
	    position: static;
	    left:auto;
	    top:auto;
	    background-color:#653f37;
	    width: 100%;	    
	}	

	/* Slider */
	#htmlcontent_top ul li.htmlcontent-item-1 {
	    margin: 0px 0px 28px 0px;
	}	

	/* Categorie prev */
	#prev_cat_wrapper {
	    margin: 0px 0px 41px 0px;
	    padding: 35px 0px;
	}	
	#prev_cat ul li a p.catName {
	    font-size: 18px;
	    font-weight: 600;
	    color: #fff;
	    line-height: 20px;
	    padding: 11px 35px 11px 20px;
	}	
	#prev_cat ul li a:hover p.catName {
	    padding: 11px 40px 11px 20px;
	}	

	/* Slide nuovi arrivi */	
	#tabLinksWrapperText h1 {
	    margin: 0px 0px 5px 0px;
	    font-size: 45px;
	    line-height: 50px;
	}	
	#tabLinks {
	    padding: 81px 0px 0px 0px;
	    width: 53.452991%;
	}
	#home-page-tabs > li {
	    margin: 0px 0px 0px 30px;
	}

	/* Slide footer */
	#slideFooterWrapper {
	    padding: 90px 0px;
	}	
	#slideFooter {
	    max-width: 43%;
	}	

	/* Elenco categorie */
	#categories_block_left li > a {
	    font-size: 15px;
	    line-height: 21px;
	    padding: 11px 46px 11px 18px;
	}	
	#categories_block_left li li a {
	    font-size: 15px;
	    line-height: 24px;
	    padding: 7px 0px 7px 28px;
	    margin: 4px 24px 4px 24px;
	}	
	#blogLeftColumn li p a {
	    font-size: 15px;
	    line-height: 21px;
	    padding: 11px 23px 11px 18px;
	}	
	.block .title_block, .block h4 {
	    padding: 10px 18px 10px 18px;
	    margin-bottom: 2px;
	}

	/* Elenco prodotti */
	ul.product_list.grid > li .prodDesc {
	    float: none;
	    width: 100%;
	    border-right:none;
	    margin: 0px;
	    padding: 30px 20px 15px 0px;
	}
	ul.product_list.grid > li .combinations {
	    float: none;
	    width: 63%;
	    margin: 0px;
	    padding: 15px 20px 0px 0px;
	}	
	#layer_cart {
	    width: 90%;
	    margin-right: 5%;
	    margin-left: 5%;
	}	

	/* Scheda prodotto */
	body#product .box-cart-bottom #add_to_cart {
	    right: -11px;
	}	

}

@media only screen and (max-width:950px) {

	/* Header */
	#headerBottom {
	    background: url(../img/bgHeaderBottom.png) 62% top no-repeat;
	}	

	/* Slider */
	#htmlcontent_top ul li.htmlcontent-item-1 {
	    margin: 0px 0px 25px 0px;
	}	

	/* Nuovi arrivi */
	#tabLinksWrapperText h4 {
	    font-size: 22px;
	    line-height: 27px;
	}	
	#tabLinksWrapperText h1 {
	    font-size: 40px;
	    line-height: 45px;
	}
	#home-page-tabs > li a {
	    font-size: 14px;
	}	
	#home-page-tabs > li {
	    margin: 0px 0px 0px 20px;
	}
	#tabLinks {
	    padding: 74px 0px 0px 0px;
	}
	#tabLinks {
	    padding: 74px 0px 0px 0px;
	    width: 53.452991%;
	}		
	#index a.product-name{
	    width:100%;
	    height:auto;
	    background: #5e2d22;
	    background-image:none;
	}
	#index  a.product-name span{
	    display: block;
	    color:#fff;
	    font-size: 16px; line-height: 18px;
	    margin: 0px; padding:12px 15px;
	}


	/* Slide footer */
	#slideFooter {
	    max-width: 52%;
	}	
	#slideFooterWrapper {
	    padding:65px 0px;
	}	
	#slideFooter .item p {
	    font-size: 15px;
	    margin: 0px 0px 40px 0px;
	}	
	#slideFooter .item a.moreDetails {
	    padding: 7px 22px;
	}

	/* Carrello */
	#cart_summary thead th {
	    padding: 10px 13px;
	    font-size: 12px;
	}

	/* Scheda prodotto */
	body#product .pb-left-column{ width:50%; }
	body#product .pb-center-column{ 
		width:50%; 
		border-right:none;
	}
	body#product .pb-right-column{ 
		clear: both;
		float:none; width: 100%; 
	}

	/* Footer */
	.footer-container #footer .blockcategories_footer, 
	.footer-container #footer #links_block_footer {
	    padding: 0px 15px 0px 25px;
	    min-height:auto;
	}	
	.footer-container #footer #block_various_links_footer {
	    padding: 0px 15px 0px 25px;
	    min-height: auto;
	}	
	.footer-container #footer #block_contact_infos > div ul li {
	    padding: 0px 25px 0px 25px;
	    line-height: 18px;
	    font-size: 11px;
	}	

}

@media only screen and (max-width:850px) {

	/* Header */
	header .nav, 
	header .nav a {
	    color: #fff;
	}	
	header .nav {
	    border-top:0px;
	    background:#5e2d22;
	    height:59px;
	}	
	header .liveChat{ display: none; }
	header .row #header_logo {
	    left: -29px;
	    top: -70px;
	    width: 185px;
	    background: #fff;
	    overflow: hidden;
	    border-radius: 103px 148px 159px 210px;
	    padding: 18px 11px 11px 30px;
	}
	header .row #header_logo img {
	    -ms-transform: rotate(-12deg); /* IE 9 */
	    -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
	    transform: rotate(-12deg);
	}	
	#languages-block-top {
	    right: 0px;
	}
	#languages-block-top div.current {
	    color: #fff;
	}	
	#languages-block-top div.current:after {
	    color: #fff;
	}	
	#aromaClubTop p {
    	color: #fff;
	}	
	#aromaClubTop {
	    right: 30px;
	}	
	#greenNumber {
	    top: 22px;
	}	
	#greenNumber .text {
	    color: #fff;
	}
	#greenNumber .number {
	    color: #ddd;
	}
	#headerBottom {
	    background:#fff;
	    height:74px;
	}	
	#block_top_menuToggle {
	    top: 25px;
	}	
	#header .shopping_cart {
	    height: 25px;
	    line-height: 25px;
	    font-size: 14px;
	}
	.shopping_cart_wrapper {
	    top: 22px;
	}
	#searchToggle {
	    right: 237px;
	    top: 21px;
	}	
	#aromaClub {
	    right: 275px;
        top: 20px;
	}	
	#aromaClub a.enter {
	    height: 22px;
	    line-height: 21px;
	    padding: 0px 8px;
	    font-size: 14px;
	    color: #fff;
	}	
	#search_block_top {
	    right: 263px;
	    padding-top: 0px;
	    top: 16px;
	}
	#header .cart_block {
	    top: 63px;
	}
	a.reorder-button {
	    padding: 4px;
	    font-size: 9px;
	}	
	.header_user_info {
	    right: 45px;
	    font-size: 10px;
	    top:22px;
	}	
	.header_user_info a{	
	    font-size: 10px;
	}

	/* Slider */
	body#index #slider_row {
	    max-width: 100%;
	    padding: 0px;
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.16);
		-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.16);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.16);	
	}	
	#homepage-slider {
	    width: 100%;
	    max-width: 100%;
	    max-height: 100%;
	    float:none;
	    margin:0px 0px 1px 0px;
	}	
	#htmlcontent_top {
    	width: 100%;
    	float: none;
	}
	#htmlcontent_top ul li.htmlcontent-item-1,
	#htmlcontent_top ul li.htmlcontent-item-2{
	    margin: 0px 0px 0px 0px;
	    float: left;
	    width: 49.9%;
	    box-sizing: border-box;
	    border-bottom: 1px solid #fff;
	}	
	#htmlcontent_top ul li.htmlcontent-item-1{
	    float: left;
	}	
	#htmlcontent_top ul li.htmlcontent-item-2{
	    float: right;
	}

	/* Preview categorie */
	body#index #columns.container .row {
	    margin: 0px !important;
	}	
	#prev_cat_wrapper {
	    margin: 0px 0px 41px 0px;
	    padding:0px 0px;
	}	
	#prev_cat {
	    padding: 0px 0px;
	    max-width: 100%;
	    box-sizing: border-box;
	}
	#prev_cat ul li{
	    width: 49.9%;
	    margin:0px !important;
	    box-sizing: border-box;
	    border-bottom:1px solid #fff;
	}
	#prev_cat ul li:nth-child(odd){
		float: left;
	}
	#prev_cat ul li:nth-child(even){
		float: right;
	}

	/* Elenco prodotti */
	ul.product_list.grid > li .combinations {
	    width: 60%;
	}	

	/* Nuovi arrivi */
	#index .tab-content {
	    margin: 40px auto 60px auto;
	}	

	/* Banner full */
	#bannerFull	table,
	#bannerFull	table tr,
	#bannerFull	table tr td,
	#bannerFull	table tbody{
		display: block;
		text-align: center;
	}
	#bannerFull	table{
		margin: 0px auto !important;
		width: 62%;
	}
	div#bannerFull table tr td {
	    padding: 10px 0px;
	}

	/* Footer */
	.footer-container #footer #block_contact_infos,
	.footer-container #footer .blockcategories_footer, 
	.footer-container #footer #links_block_footer,
	.footer-container #footer #block_various_links_footer{
	    width: 50%;
	    margin: 0px 0px 40px 0px;
	}
	.footer-container #footer .blockcategories_footer{
		border-right: none;
	} 
	#footer #block_contact_infos ul {
		display: block !important
	}	
	.footer-container #footer h4:after {
	    display:none;
	    content:"";
	}	
	.category_footer.toggle-footer,
	#footer ul.toggle-footer{
		display: block !important;
	}

}

@media only screen and (max-width:750px) {

	/* General */
	.page-heading {
	    font-size: 22px;
	    padding: 10px 0px 10px 0px;
	    margin: 0px 0px 20px 0px;
	}	
	.page-subheading {
	    font-size: 15px;
	    padding: 0 0 12px;
	    margin-bottom: 20px;
	}

	/* Header */
	#search_block_top {
	    right: 263px;
	    padding-top: 0px;
	    top: 16px;
	}

	/* Left column */
	#bannerLeft{ display: none; }

	/* Banner full */
	#bannerFull	table {
	    width: 66%;
	}	
	#categories_block_left h2.title_block{ display: block; }
	#categories_block_left h2.title_block:after,
	#blogLeftColumn h4.title_block:after{
		right: 12px;
	    top: 11px;
	    height: 18px;
	    width: 18px;
	    font-size: 18px;
	}
	#categories_block_left,
	#blogLeftColumn{
		margin-bottom:5px;
	}
	#left_column{
		margin-bottom:50px;
	}

	/* Registrazione */
	#authentication .box {
	    padding-bottom: 15px;
	}	
	#create-account_form {
	    min-height: 10px;
	}	

	/* Blog */
	img.news {
	    float: none;
	    margin-right:0px;
	    margin-bottom:25px;
	    max-width: 100%;
	}	
	#prestablogfont ul, #prestablogfont ol {
	    padding-left: 11x;
	    margin-bottom:25px;
	}	

	/* Product list */ 
	ul.product_list.grid > li {
	    width: 100%;
	    float: none;
	}
	ul.product_list.grid > li .combinations {
	    width: 51%;
	}

	/* Scheda prodotto */
	body#product .pb-left-column {
	    width: 100%;
	}
	.pb-left-column #image-block {
		    width: 100%;
	}	
	body#product .pb-center-column {
	    width: 100%;
	    border-bottom:1px solid #e5e5e5;
	}	
	body#product .combinations {
	    padding: 21px 0px 0px 0px;
	}	
	.product_attributes {
	    border: none;
	    padding: 10px 0px 0px 0px;
	}
	.box-info-product .content_prices {
	    padding: 30px 0px;
	}

	/* Footer */ 
	#footer #block_contact_infos ul {
		display: block !important
	}	
	.footer-container #footer h4:after {
	    display:none;
	    content:"";
	}	
	.category_footer.toggle-footer,
	#footer ul.toggle-footer{
		display: block !important;
	}
	.footer-container #footer h4 {
	    font-size: 15px;
	    margin: 0 0 12px 0;
	}	

}

@media only screen and (max-width:650px) {

	/* Header */
	#greenNumberMobile{ display: block; }
	#greenNumber { display: none; }
	
	#block_top_menuToggle {
	    top: -42px;
	    right: 41px;
	}	
	#block_top_menuToggle:before {
	    font-size: 27px;
	    line-height: 27px;
	    color: #fff;
	}	
	#languages-block-top {
	    right: 118px;
	    top: 22px;
	}	
	#aromaClubTop p {
	    color: #3e3e3e;
	}	
	#aromaClubTop {
	    top: 76px;
	}	
	#searchToggle {
	    right: auto;
	    left: 180px;
	    top: -42px;
	}	
	#searchToggle:after {
	    font-size: 20px;
	    line-height: 20px;
	    color: #fff;
	}	
	#search_block_top {
	    right: 127px;
        top: 15px;
	}	
	.shopping_cart_wrapper {
		top: -39px;
	    right: 101px;
	}	
	#header .shopping_cart {
	    padding: 0px;
	    width:20px;
	    height: 20px;
	    line-height:20px;
	    background: url(../img/bgCartMobile.png) center center no-repeat;
	}	
	.shopping_cart > a:first-child b {
		display: none;
	}
	.shopping_cart > a:first-child {
	    width: 100%;
	    height: 100%;
	}	
	#header .ajax_cart_no_product{
		display: none !important;
	}
	#aromaClub {
	    right: 6px;
	    top: 19px;
	}	
	#aromaClubTop {
	    right: 57px;
	}	
	.header_user_info {
	    right: auto;
	    top: 82px;
	    left:141px;
	}
	.header_user_info a{
		color:#5e2d22 !important;
	}
	a.reorder-button {
	    display: none;
	}
	.shopping_cart_wrapper.logged {
	    top: -38px;
	}	
	.shopping_cart_wrapper.logged .ajax_cart_quantity{
		position: absolute;
		right:-22px; top:0px;
		background: #845248;
		color:#fff;
		font-size:10px;
		padding:0px;
		border-radius: 5px 5px 5px 5px;
		width: 18px; height: 18px; line-height: 18px;
		text-align: center;
	}
	.shopping_cart_wrapper.logged .ajax_cart_product_txt,
	.shopping_cart_wrapper.logged .ajax_cart_product_txt_s{ display: none !important; }
	#header .cart_block {
	    top: 38px;
		right: -35px;
	}

	/* Breadcrumb */
	#bradcrumbWrapper {
    	height: 118px;
	}
	.breadcrumb {
		top:34px;
	    line-height: 13px;
	}	
	.breadcrumb h1#pageTitle {
	    margin: 5px 0px 0px 0px;
	    font-size: 38px;
	}	

	/* Nuovi arrivi */
	#tabLinksWrapperText {
	    float:none;
	    width: 100%;
	    margin: 0px;
	    padding: 0px;
	}	
	#tabLinks {
		float: none;
	    padding: 30px 0px 0px 0px;
	    width: 100%;
	}	
	#home-page-tabs {
	    text-align:left;
	}
	#home-page-tabs > li {
	    margin: 0px 15px 0px 0px;
	}	
	#tabLinksWrapperText h4 {
	    font-size: 20px;
	    line-height: 25px;
	}	
	#tabLinksWrapperText h1 {
	    font-size: 35px;
	    line-height: 40px;
	}
	#index .tab-content {
	    margin: 40px auto 40px auto;
	}	

	/* Banner full */
	#bannerFull	table {
	    width: 76%;
	}	
	div#bannerFull table tr td {
	    padding:10px;
	}

	/* Slide footer */
	#slideFooterWrapper {
	    padding: 65px 0px;
	}

	/* Product list */
	ul.product_list.grid > li .prodDesc {
	    padding: 15px 20px 15px 20px;
	}	
	ul.product_list.grid > li .combinations {
	    padding: 15px 20px 15px 20px;
	}	
	.right-block.machines {
	    padding: 15px 20px;
	}	
	.right-block.machines .box-cart-bottom {
	    right: 4px;
	    bottom: -60px;
	}

}

@media only screen and (max-width:550px) {

	/* General */
	.page-heading {
	    font-size: 20px;
	    padding: 8px 0px 8px 0px;
	    margin: 0px 0px 18px 0px;
	}		

	/* Header */
	header .row #header_logo {
	    width: 165px;
	}	
	#searchToggle {
	    right: auto;
	    left: 161px;
	    top: -42px;
	}	
	#headerBottom {
	    height: 60px;
	}	
	#search_block_top #search_query_top {
	    width: 223px;
	}	
	#aromaClub {
	    right: 6px;
	    top: 15px;
	}	
	#aromaClubTop {
	    top: 73px;
	}	

	/* Breadcrumb */
	#bradcrumbWrapper {
	    height: 109px;
	    margin: 0px 0px 25px 0px;
	}	
	.breadcrumb h1#pageTitle {
	    margin: 5px 0px 0px 0px;
	    font-size: 25px;
	}	
	.breadcrumb {
	    line-height: 13px;
	    font-size: 13px;
	}

	/* Slider */
	#htmlcontent_top ul li.htmlcontent-item-1, 
	#htmlcontent_top ul li.htmlcontent-item-2 {
	    float:none;
	    width: 100%;
	    border-bottom: 1px solid #fff;
	}	
	.bx-controls.bx-has-pager {
	    right: 15px;
	    bottom: 0px;
	}	

	/* Banner full */
	#bannerFull	table {
	    width: 96%;
	}
	
	/* Slide footer */	
	#slideFooter {
	    max-width: 85%;
	}	
	#slideFooter .owl-carousel .owl-nav .owl-prev,
	#slideFooter .owl-carousel .owl-nav .owl-prev:hover{
	    left: 0px;
	}	
	#slideFooter .owl-carousel .owl-nav .owl-next,
	#slideFooter .owl-carousel .owl-nav .owl-next:hover{
	    right: 0px;
	}	

	/* Blog */
	#blog_list li {
	    margin: 0px 0px 50px 0px;
	}	
	#blog_list .block_top,
	#blog_list .block_bas{
		float: none;
	    width: 100%;
	}	
	#blog_list .block_top{
		margin: 0px 0px 25px 0px;
	}

	/* Product list */
	ul.product_list.grid > li {
	    width: 94%;
	    float: none;
	    margin: 0px auto 40px auto;
	}	
	ul.product_list.grid > li .combinations {
	    width: 78%;
	}
	.right-block.machines .box-cart-bottom {
	    right: 10px;
	    bottom: -31px;
	}

	/* Footer */
	.footer-container {
		background-color: #66382d;
	    background-image:none;
	    padding: 55px 0px 40px 0px;
	}	
	.footer-container #footer #block_contact_infos, 
	.footer-container #footer .blockcategories_footer, 
	.footer-container #footer #links_block_footer, 
	.footer-container #footer #block_various_links_footer {
	    float:none;
	    width: 100%;
	    padding: 0px 20px;
	    margin: 0px 0px 40px 0px;
	    border:none;
	    overflow: hidden;
	    min-height: 10px;
	    box-sizing: border-box;
	}	
	#logoFooter {
	    margin: 0px auto 36px auto;
	    display: block;
	}	
	#socials {
	    clear: both;
	    float: none;
	    padding: 27px 0px 0px 0px;
	}	

}

@media only screen and (max-width:450px) {

	/* General */
	h1, .h1 { font-size: 30px; }
	h2, .h2 { font-size: 25px; }
	h3, .h3 { font-size: 25px; }
	h4, .h4 { font-size: 20px; }
	h5, .h5 { font-size: 17px; }
	h6, .h6 { font-size: 17px; }
	h1 small, .h1 small { font-size: 20px; }
	h2 small, .h2 small { font-size: 20px; }
	h3 small, .h3 small,
	h4 small, .h4 small { font-size: 18px; }

	/* Header */	
	#languages-block-top {
	    width: auto;
	}	
	header .row #header_logo {
	    width: 134px;
	}	
	#searchToggle {
	    right: auto;
	    left: 121px;
	    top: -42px;
	}
	#headerBottom {
	    height: 49px;
	}
	#aromaClub {
	    right: 6px;
	    top: 9px;
	}
	#aromaClubTop {
	    top: 67px;
	}
	#search_block_top {
	    right: auto;
	    left: 110px;
	    top: 4px;
	    padding-top: 0px;
	}
	#block_top_menu {
	    width: 230px;
	}	
	.header_user_info {
	    right: auto;
	    top: 72px;
	    left: 0px;
	}	
	#header .cart_block {
	    width: 270px;
	}	

	/* Preview categorie */
	#prev_cat ul li {
	    width: 100%;
	    border-bottom: 1px solid #fff;
	}
	#prev_cat ul li:nth-child(odd),
	#prev_cat ul li:nth-child(even){
	    float: none;
	}	

	/* Ultimi arrivi */
	#home-page-tabs > li {
	    width: auto;
	}	

	/* Banner full */
	#bannerFull	table {
	    width: 100%;
	}	

	/* Slide footer */
	#slideFooterWrapper {
	    padding: 45px 0px;
	}	
	#slideFooter {
	    max-width: 90%;
	}	
	#slideFooter .item h1 {
	    font-size: 20px;
	    line-height: 24px;
	    margin: 0px 0px 34px 0px;
	    padding: 0px 0px 45px 0px;
	}	
	#slideFooter .item p {
	    font-size: 14px;
	    margin: 0px 0px 30px 0px;
	}

	/* History */
	table#order-list{
		width: 700px;
	}
	.footable .footable-row-detail-row {
	    display: table-row;
	    line-height: 2.4em;
	}	
	#block-order-detail{
		background: #f5f5f5;
		padding: 15px;
	}

	/* Breadcrums */
	#bradcrumbWrapper {
	    padding: 0px 21px;
	}

	/* Cms */
	#center_column table,
	#center_column table tr,
	#center_column table tr td,
	#center_column table tbody{
		display: block;
		margin: 0px; padding: 0px;
		width: 100% !important;
	}
	#center_column table tr td{
		padding: 10px 0px;
	}

	/* Product list */
	ul.product_list.grid > li .prodDesc {
	    padding: 12px 15px 12px 15px;
	}	
	ul.product_list.grid > li .combinations {
		width: 100%;
	    padding: 12px 15px 12px 15px;
	}
	#layer_cart .layer_cart_product .title,
	#layer_cart .layer_cart_cart .title {
	    font-size: 18px;
	    line-height: 26px;
	    margin: 0px 0px 25px 0px;
	    padding: 0px 0px 10px 0px;
	    border-bottom: 1px solid #ddd;
	}
	#layer_cart .layer_cart_cart .button-container {
	    padding: 25px 30px 20px 30px;
	}

	/* Carrello */	
	#order-detail-content #cart_summary thead,
	#order-detail-content #cart_summary tfoot{ 
		width:100%; 
		display: block;
	}
	body#order .button.button-medium,
	body#order .cart_navigation .button-exclusive{
		float:none;
		display: block;
		width: 100%;
		box-sizing: border-box;
		text-align: center;
	}
	#order-detail-content #cart_summary td.cart_delete {
	    position:static;
	    right: auto;
	    top: auto;
	}
	#order-detail-content #cart_summary td.cart_product {
	    text-align: center;
	}
	#order-detail-content #cart_summary td,
	#order-detail-content #cart_summary td.cart_unit,
	#order-detail-content #cart_summary td.cart_unit .price,
	#order-detail-content #cart_summary td.cart_total{
	    float: none;
	    text-align: center;
	}
	#order-detail-content #cart_summary td.cart_quantity {
	    border-left: none;
	    border-right: none;
	}
	#order-detail-content #cart_summary td {
	    padding: 18px 20px 11px 20px;
	}	

}

@media only screen and (max-width:350px) {

	/* General */
	h1, .h1 { font-size: 27px; }
	h2, .h2 { font-size: 21px; }
	h3, .h3 { font-size: 21px; }
	h4, .h4 { font-size: 18px; }
	h5, .h5 { font-size: 15px; }
	h6, .h6 { font-size: 15px; }
	h1 small, .h1 small { font-size: 18px; }
	h2 small, .h2 small { font-size: 18px; }
	h3 small, .h3 small,
	h4 small, .h4 small { font-size: 16px; }

	/* Header */	
	header .row #header_logo {
		top: -64px;
	    width: 114px;
	}	
	#searchToggle {
	    left: 98px;
	}	
	#block_top_menuToggle {
	    top: -42px;
	    right: 48px;
	}	
	#languages-block-top {
	    right: auto;
	    left: 10px;
	    top: 75px;
	}	
	#languages-block-top div.current,
	#languages-block-top div.current:after{
	    color:#5e2d22;
	}	
	#search_block_top {
	    right: auto;
	    left: 84px;
	    top: 4px;
	    padding-top: 0px;
	}
	.header_user_info {
	    top: 21px;
	    left: auto;
	    right:118px;
	    text-indent: -999em;
	    overflow: hidden;
	    width: 20px; height: 20px;
	}	
	.header_user_info  a.account{
		display: block;
		width: 100%; height: 100%;
		margin: 0px; padding: 0px;
		background: url(../img/userMobile.png) center center no-repeat;
	}
	.header_user_info  a.logout{ display: none; }
	#header .cart_block {
	    top: 38px;
	    right: -103px;
	    width: 250px;
	}	

	/* Breadcrumbs */
	.breadcrumb h1#pageTitle {
	    margin: 5px 0px 0px 0px;
	    font-size: 27px;
	}

	/* Blocco categorie */
	#categories_block_left ul ul {
	    padding: 14px 0px 33px 0px;
	}

	/* Ultimi arrivi */
	#tabLinksWrapperText h4 {
	    font-size: 18px;
	    line-height: 23px;
	}	
	#tabLinksWrapperText h1 {
	    font-size: 30px;
	    line-height: 35px;
	}
	#home-page-tabs > li {
	    margin: 0px 8px 0px 0px;
	}	
	#footer .liveChat {
		width: 100%;
	}	

	/* History */
	table#order-list{
		width: 700px;
	}
	.footable .footable-row-detail-row {
	    display: table-row;
	    line-height: 2.4em;
	}	
	#block-order-detail{
		background: #f5f5f5;
		padding: 15px;
	}

	/* Product list */
	ul.product_list.grid > li .prodDesc {
	    padding: 10px 0px 10px 0px;
	}	
	ul.product_list.grid > li .combinations {
		width: 100%;
	    padding: 10px 0px 10px 0px;
	}
	#layer_cart .layer_cart_product .title,
	#layer_cart .layer_cart_cart .title {
	    font-size: 16px;
	    line-height: 24px;
	    margin: 0px 0px 20px 0px;
	    padding: 0px 0px 10px 0px;
	}
	#layer_cart .layer_cart_cart .button-container {
	    padding: 25px 25px 20px 25px;
	}	
	.right-block.machines .box-cart-bottom {
	    right: 0px;
	    bottom: -34px;
	}
	.box-cart-bottom .add_to_cart a {
	    width: 105px;
	    height: 83px;
	}	
	.box-cart-bottom .add_to_cart a span {
	    font-size: 10px;
	    line-height: 10px;
	}
	.right-block.machines .price {
	    font-size: 20px;
	    line-height: 20px;
	}	
	.right-block.machines .total {
	    font-size: 14px;
	    line-height: 14px;
	}	
	ul.product_list .availability span.label-success {
	    font-size: 14px;
	    line-height: 14px;
	}	
	ul.product_list.grid > li .product-container h5 .product-name {
	    font-size: 22px;
	    line-height: 26px;
	}

	/* Cart */	
	#order-detail-content #cart_summary td.cart_delete {
	    position:static;
	    right: auto;
	    top: auto;
	}
	#order-detail-content #cart_summary td.cart_product {
	    text-align: center;
	}
	#order-detail-content #cart_summary td,
	#order-detail-content #cart_summary td.cart_unit,
	#order-detail-content #cart_summary td.cart_unit .price,
	#order-detail-content #cart_summary td.cart_total{
	    float: none;
	    text-align: center;
	}
	#order-detail-content #cart_summary td.cart_quantity {
	    border-left: none;
	    border-right: none;
	}
	#order-detail-content #cart_summary td {
	    padding: 18px 20px 11px 20px;
	}	

}