/****************/
/*  MENU        */
/****************/

#block_top_menuToggle{
  display:none;
  position:absolute;
  margin:0px; padding:0px;
  right:15px; top:30px;
  cursor:pointer;
}
#block_top_menuToggle:before{
  font-family: "FontAwesome";
  font-size: 22px; line-height: 22px;
  content: "\f0c9";
  color:#5e2d22;
}
#block_top_menu{
  position:absolute;
  left:155px; top:27px;
  width:auto; height:36px;
  margin:0px; padding:0px;
}

#block_top_menu .cat-title{ display: none; }

/* REGOLE GENERICHE PER TUTTI I LIVELLI */
#block_top_menu ul {
  list-style:none;
  padding:0px; margin:0px;
  background-color:#5e2d22;
  width:200px;
  z-index:999;
}
#block_top_menu ul li{
  position:relative;
  display:block;
  margin:0px; padding:0px;
}
#block_top_menu ul li a{
  display:block;
  font-size:13px; line-height:18px;
  font-weight: normal;
  color:#fff;
  margin:0px; padding:8px 17px;
  -webkit-transition:all 250ms ease;
  -moz-transition:all 250ms ease;
  -ms-transition:all 250ms ease;
  -o-transition:all 250ms ease;
  transition:all 250ms ease;
}
#block_top_menu ul li.sfHover > a,
#block_top_menu ul li > a:hover,
#block_top_menu ul li.active > a,
#block_top_menu ul li.hovering > a{ 
  background-color:#823625;
  text-decoration:none; 
  color:#fff;
}

/* REGOLE SPECIFICHE PER IL PRIMO LIVELLO */
#block_top_menu > ul{ 
  background-color:transparent; 
  width:100%;
} 
#block_top_menu > ul > li{
  border-bottom:none;
  float:left;
}
#block_top_menu > ul > li > a{ 
  font-size:14px; line-height:14px;
  font-weight: bold; color: #5e2d22;
  height:36px; line-height:36px;
  padding:0px 12px;
  text-transform:uppercase; 
}

/* REGOLE SPECIFICHE PER IL SECONDO LIVELLO */
#block_top_menu ul ul{ 
  display:none;
  position:absolute;
  left:0px; top:36px;
}
#block_top_menu ul li.hovering  > ul,
#block_top_menu ul li:hover > ul { display: block; }

/* REGOLE SPECIFICHE PER IL TERZO LIVELLO */
#block_top_menu ul ul ul{ left:200px; top:0px; }

#block_top_menu .category-thumbnail{ display: none !important; }