ul.homefeaturedslider.product_list.grid > li.first-in-line,  ul.homefeaturedslider.product_list.grid > li.first-item-of-tablet-line {clear:none;}
.hppContainerBlockMainDiv h4::after {
    display:none!important;
}

.homefeaturedslider .last-item-of-mobile-line {clear:none!important}
.homefeaturedslider .last-item-of-tablet-line {clear:none!important}


.hppback .bx-prev::before {
    font-family:fontAwesome;
    content: "\f137";
    font-size:30px;
    color:#c0c0c0;
    cursor:pointer;
    position:absolute;
    right:55px;
    margin-top: 4px;
}

.hppback .bx-prev, .hppforward .bx-next {
      outline: none;
      font-size:0px;
}
.hppforward .bx-next::before {
    font-family:fontAwesome;
    content: "\f138";
    font-size:30px;
    color:#c0c0c0;
    cursor:pointer;
    position:absolute;
    right:20px;
    margin-top: 4px;    
}
.hppback .bx-prev:hover:before, .hppforward .bx-next:hover:before{
    color:#333;
}
.hppColumnBlock .bx-wrapper .bx-pager.bx-default-pager a {
    background:#c0c0c0;
}
.hppColumnBlock .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #333;
}
.hppColumnBlock {
    margin-bottom:50px;
}