

.hpptab-link {
    -webkit-transition: background 0.5s; /* For Safari 3.1 to 6.0 */
    transition: background 0.5s;
}


.hpptab-link  {display:inline-block;}

		ul.hpptabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.hpptabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 15px 20px;
			cursor: pointer;
            font: 600 21px/24px "Open Sans", sans-serif;
            color: #555454;
            text-transform: uppercase;
		}

		ul.hpptabs li.current{
			background: #ededed;
			color: #222;
		}

		.hpptab-content{
			display: none;
			background: #ededed;
			padding: 15px;
		}

		.hpptab-content.current{
			display: inherit;
		}